<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.azon.front.cubici.mapper.InfoIntegratedMapper">

    <!-- 당월현황 > 매출액, 판매수량  -->
    <select id="callSales" parameterType="hashmap" resultType="hashmap">
	    CALL integratedInfo_tab1_sales(#{SHOP_NAME_LIST}, #{INTERPARK_ID}, #{GMARKET_ID}, #{AUCTION_ID}, #{ELEVEN_ID}, #{COUPANG_ID}, #{NAVER_ID})
    </select>
    
    <!-- 당월현황 > 정산입금액 -->
    <select id="callSettlement" parameterType="hashmap" resultType="hashmap">
	    CALL integratedInfo_tab1_settlement(#{SHOP_NAME_LIST}, #{INTERPARK_ID}, #{GMARKET_ID}, #{AUCTION_ID}, #{ELEVEN_ID}, #{COUPANG_ID}, #{NAVER_ID})
    </select>
    
    <!-- 당월현황, 상품분석 -->
    <select id="selectInvento" parameterType="hashmap" resultType="hashmap">
    	SELECT
    		<if test='FLAG == "tab1"'>
			COUNT(*) AS PRODUCT_COUNT,
			SUM(COMBINE_TB.PRODUCT_COUNT) AS STOCK_COUNT
			</if>
			<if test='FLAG == "tab3"'>
			COMBINE_TB.PRODUCT_NAME,
			COMBINE_TB.QUANTITY,
			COMBINE_TB.PRICE
			</if>
		FROM ( -- 매칭코드 없음
	    	SELECT
	    		'인터파크' AS SHOP_LIST,
				1 AS SHOP_TYPE,
				'인터파크' AS SHOP,
				'인터파크-GOODS-NONE-MATCH' AS DIVISION,
				CIG.SHOP_ID,
				'-' AS MATCHING_CODE,
				CIG.PRODUCT_NM AS PRODUCT_NAME,
				'-' AS OPTION_NAME,
				CIG.STOCK_QUANTITY AS PRODUCT_COUNT,
				CIG.SELL_PRICE AS PRICE,
				CIG.STOCK_QUANTITY AS QUANTITY,
				1 AS MATCHING_COUNT
			FROM CBCI_INTERPARK_GOODS CIG
			WHERE CIG.SHOP_ID REGEXP (#{INTERPARK_ID})
			AND CIG.CUBICI_CODE IS NOT NULL
			AND CIG.MATCHING_CODE IS NULL
			UNION ALL
			SELECT
				'인터파크' AS SHOP_LIST,
				1 AS SHOP_TYPE,
				'인터파크' AS SHOP,
				'인터파크-STOCK-NONE-MATCH' AS DIVISION,
				CIS.SHOP_ID,
				'-' AS MATCHING_CODE,
				CIG.PRODUCT_NM AS PRODUCT_NAME,
				CONCAT(CIS.OPTION1, ' > ', CIS.OPTION2) AS OPTION_NAME,
				CIS.OPTION_QUANTITY AS PRODUCT_COUNT,
				1 AS PRICE,
				CIS.OPTION_QUANTITY AS QUANTITY,
				1 AS MATCHING_COUNT
			FROM CBCI_INTERPARK_STOCK CIS
			LEFT JOIN CBCI_INTERPARK_GOODS CIG
			ON CIS.SHOP_ID = CIG.SHOP_ID AND CIS.PRODUCT_NO = CIG.PRODUCT_NO
			WHERE CIS.SHOP_ID REGEXP (#{INTERPARK_ID})
			AND CIS.MATCHING_CODE IS NULL
			UNION ALL
			SELECT
				'옥션' AS SHOP_LIST,
				3 AS SHOP_TYPE,
				'옥션' AS SHOP,
				'옥션-GOODS-NONE-MATCH' AS DIVISION,
				CAG.SHOP_ID,
				'-' AS MATCHING_CODE,
				CAG.ITEM_NAME AS PRODUCT_NAME,
				'-' AS OPTION_NAME,
				CAG.SUM_STOCK_QTY AS PRODUCT_COUNT,
				CAG.SELLING_PRICE AS PRICE,
				CAG.SUM_STOCK_QTY AS QUANTITY,
				1 AS MATCHING_COUNT
			FROM CBCI_AUCTION_GOODS CAG
			WHERE CAG.SHOP_ID REGEXP (#{AUCTION_ID})
			AND CAG.CUBICI_CODE IS NOT NULL
			AND CAG.MATCHING_CODE IS NULL
			UNION ALL
			SELECT
				'11번가' AS SHOP_LIST,
				4 AS SHOP_TYPE,
				'11번가' AS SHOP,
				'11번가-GOODS-MATCH' AS DIVISION,
				CSG.SHOP_ID,
				CSG.MATCHING_CODE,
				CSG.PRD_NM AS PRODUCT_NAME,
				'-' AS OPTION_NAME,
				CSG.QUANTITY AS PRODUCT_COUNT,
				CSG.SEL_PRC AS PRICE,
				CSG.QUANTITY,
				1 AS MATCHING_COUNT
			FROM CBCI_11ST_GOODS CSG
			WHERE CSG.SHOP_ID REGEXP (#{ELEVEN_ID})
			AND CSG.CUBICI_CODE IS NOT NULL
			AND CSG.MATCHING_CODE IS NULL
			UNION ALL
			SELECT
				'쿠팡' AS SHOP_LIST,
				11 AS SHOP_TYPE,
				'쿠팡' AS SHOP,
				'쿠팡-NONE-MATCH' AS DIVISION,
				CCS.SHOP_ID,
				'-' AS MATCHING_CODE,
				CCG.SELLER_PRODUCT_NM AS PRODUCT_NAME,
				CCS.ITEM_NAME AS OPTION_NAME,
				CCS.OPT_AMOUNT_IN_STOCK AS PRODUCT_COUNT,
				CCS.SALE_PRICE AS PRICE,
				CCS.OPT_AMOUNT_IN_STOCK AS QUANTITY,
				1 AS MATCHING_COUNT
			FROM CBCI_COUPANG_STOCK CCS
			LEFT JOIN CBCI_COUPANG_GOODS CCG
			ON CCS.SHOP_ID = CCG.SHOP_ID AND CCS.SELLER_PRODUCT_ID = CCG.SELLER_PRODUCT_ID
			WHERE CCS.SHOP_ID = #{COUPANG_ID}
			AND CCS.MATCHING_CODE IS NULL
			UNION ALL
			SELECT
				'네이버' AS SHOP_LIST,
				14 AS SHOP_TYPE,
				'네이버' AS SHOP,
				'네이버-GOODS-NONE-MATCH' AS DIVISION,
				CNG.SHOP_ID,
				'-' AS MATCHING_CODE,
				CNG.PRODUCT_NM AS PRODUCT_NAME,
				'-' AS OPTION_NAME,
				CNG.STOCK_QUANTITY AS PRODUCT_COUNT,
				CNG.SELL_PRICE AS PRICE,
				CNG.STOCK_QUANTITY AS QUANTITY,
				1 AS MATCHING_COUNT
			FROM CBCI_NAVER_GOODS CNG
			WHERE CNG.SHOP_ID REGEXP (#{NAVER_ID})
			AND CNG.CUBICI_CODE IS NOT NULL
			AND CNG.MATCHING_CODE IS NULL
			UNION ALL
			SELECT
				'네이버' AS SHOP_LIST,
				14 AS SHOP_TYPE,
				'네이버' AS SHOP,
				'네이버-STOCK-NONE-MATCH' AS DIVISION,
				CNS.SHOP_ID AS SHOP_ID,
				'-' AS MATCHING_CODE,
				CNG.PRODUCT_NM AS PRODUCT_NAME,
				CONCAT(CNS.OPTION_NM_1, ' > ', CNS.OPTION_NM_2, ' > ', CNS.OPTION_NM_3) AS OPTION_NAME,
				CNS.OPTION_QUANTITY AS PRODUCT_COUNT, -- 상품 재고
				CNS.OPTION_PRICE AS PRICE,
				CNS.OPTION_QUANTITY AS QUANTITY,
				1 AS MATCHING_COUNT -- 매칭되어있는 상품 수
			FROM CBCI_NAVER_STOCK CNS
			LEFT JOIN CBCI_NAVER_GOODS CNG
			ON CNS.SHOP_ID = CNG.SHOP_ID AND CNS.PRODUCT_NO = CNG.PRODUCT_NO
			WHERE CNS.SHOP_ID REGEXP (#{NAVER_ID})
			AND CNS.MATCHING_CODE IS NULL
			UNION ALL -- 매칭코드 있음
			SELECT
				GROUP_CONCAT(MATCHING_TB.SHOP SEPARATOR ', ') AS SHOP_LIST,
				MATCHING_TB.*,
				SUM(MATCHING_TB.PRODUCT_COUNT) AS QUANTITY,
				COUNT(*) AS MATCHING_COUNT
			FROM (
				SELECT
					3 AS SHOP_TYPE,
					'옥션' AS SHOP,
					'옥션-GOODS-MATCH' AS DIVISION,
					CAG.SHOP_ID,
					CAG.MATCHING_CODE,
					CAG.ITEM_NAME AS PRODUCT_NAME,
					'-' AS OPTION_NAME,
					CAG.SUM_STOCK_QTY AS PRODUCT_COUNT,
					CAG.SELLING_PRICE AS PRICE
				FROM CBCI_AUCTION_GOODS CAG
				WHERE CAG.SHOP_ID REGEXP (#{AUCTION_ID})
				AND CAG.CUBICI_CODE IS NOT NULL
				AND CAG.MATCHING_CODE IS NOT NULL
				UNION ALL
				SELECT
					4 AS SHOP_TYPE,
					'11번가' AS SHOP,
					'11번가-GOODS-MATCH' AS DIVISION,
					CSG.SHOP_ID,
					CSG.MATCHING_CODE,
					CSG.PRD_NM AS PRODUCT_NAME,
					'-' AS OPTION_NAME,
					CSG.QUANTITY AS PRODUCT_COUNT,
					CSG.SEL_PRC
				FROM CBCI_11ST_GOODS CSG
				WHERE CSG.SHOP_ID REGEXP (#{ELEVEN_ID})
				AND CSG.CUBICI_CODE IS NOT NULL
				AND CSG.MATCHING_CODE IS NOT NULL
				UNION ALL
				SELECT
					11 AS SHOP_TYPE,
					'쿠팡' AS SHOP,
					'쿠팡-MATCH' AS DIVISION,
					CCS.SHOP_ID,
					CCS.MATCHING_CODE,
					CCG.SELLER_PRODUCT_NM AS PRODUCT_NAME,
					CCS.ITEM_NAME AS OPTION_NAME,
					CCS.OPT_AMOUNT_IN_STOCK AS PRODUCT_COUNT,
					CCS.SALE_PRICE AS PRICE
				FROM CBCI_COUPANG_STOCK CCS
				LEFT JOIN CBCI_COUPANG_GOODS CCG
				ON CCS.SHOP_ID = CCG.SHOP_ID AND CCS.SELLER_PRODUCT_ID = CCG.SELLER_PRODUCT_ID
				WHERE CCS.SHOP_ID = #{COUPANG_ID}
				AND CCS.MATCHING_CODE IS NOT NULL
				UNION ALL
				SELECT
					14 AS SHOP_TYPE,
					'네이버' AS SHOP,
					'네이버-GOODS-MATCH' AS DIVISION,
					CNG.SHOP_ID,
					CNG.MATCHING_CODE,
					CNG.PRODUCT_NM AS PRODUCT_NAME,
					'-' AS OPTION_NAME,
					CNG.STOCK_QUANTITY AS PRODUCT_COUNT,
					CNG.SELL_PRICE AS PRICE
				FROM CBCI_NAVER_GOODS CNG
				WHERE CNG.SHOP_ID REGEXP (#{NAVER_ID})
				AND CNG.CUBICI_CODE IS NOT NULL
				AND CNG.MATCHING_CODE IS NOT NULL
				UNION ALL
				SELECT
					14 AS SHOP_TYPE,
					'네이버' AS SHOP,
					'네이버-STOCK-MATCH' AS DIVISION,
					CNS.SHOP_ID,
					CNS.MATCHING_CODE,
					CNG.PRODUCT_NM AS PRODUCT_NAME,
					CONCAT(CNS.OPTION_NM_1, ' > ', CNS.OPTION_NM_2, ' > ', CNS.OPTION_NM_3) AS OPTION_NAME,
					CNS.OPTION_QUANTITY AS PRODUCT_COUNT,
					CNS.OPTION_PRICE AS PRICE
				FROM CBCI_NAVER_STOCK CNS
				LEFT JOIN CBCI_NAVER_GOODS CNG
				ON CNS.SHOP_ID = CNG.SHOP_ID AND CNS.PRODUCT_NO = CNG.PRODUCT_NO
				WHERE CNS.SHOP_ID REGEXP (#{NAVER_ID})
				AND CNS.MATCHING_CODE IS NOT NULL
			) MATCHING_TB
			GROUP BY MATCHING_TB.MATCHING_CODE
		) COMBINE_TB
		<if test='FLAG == "tab3"'>
			<if test = 'SELECT_CONDITION == "PRICE"'>
			ORDER BY (COMBINE_TB.QUANTITY * COMBINE_TB.PRICE) DESC, COMBINE_TB.PRODUCT_NAME
			</if>
			<if test = 'SELECT_CONDITION == "QUANTITY"'>
			ORDER BY COMBINE_TB.QUANTITY DESC, COMBINE_TB.PRODUCT_NAME
			</if>
		LIMIT 10
		</if>
    </select>
    
</mapper>
