<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.azon.admin.cubici.mapper.AdminMoneyBankMapper">

  <select id="MoneyBankAccumulateValue" resultType="hashmap">
	   <![CDATA[
			SELECT 
				(SELECT 
					COUNT(*) 
				FROM TOGETHER_REQUEST_INFO 
				WHERE REQUEST_STATUS = 02 
				AND DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d') = #{toDate}) AS MONEYBANK_TODAY_USER,
				
				(SELECT 
					COUNT(*) 
				FROM TOGETHER_REQUEST_INFO 
				WHERE REQUEST_STATUS = 02 
				AND DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d') <= #{toDate}) AS MONEYBANK_ACCUM_USER,
				
				(SELECT 
					IFNULL(SUM(TOTAL_PAYMENT),0) 
				FROM TOGETHER_REQUEST_INFO 
				WHERE REQUEST_STATUS = 02 
				AND DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d') = #{toDate}) AS MONEYBANK_TODAY_SERVICE,
				
				(SELECT 
					COUNT(TOTAL_PAYMENT) 
				FROM TOGETHER_REQUEST_INFO 
				WHERE REQUEST_STATUS = 02 
				AND DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d') = #{toDate}) AS MONEYBANK_TODAY_SERVICE_COUNT,
				
				(SELECT 
					SUM(TOTAL_PAYMENT) 
				FROM TOGETHER_REQUEST_INFO 
				WHERE REQUEST_STATUS = 02 
				AND DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d') <= #{toDate}) AS MONEYBANK_ACCUM_SERVICE,
				
				(SELECT 
					COUNT(TOTAL_PAYMENT) 
				FROM TOGETHER_REQUEST_INFO 
				WHERE REQUEST_STATUS = 02 
				AND DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d') <= #{toDate}) AS MONEYBANK_ACCUM_SERVICE_COUNT,
				
				(SELECT 
					IFNULL(SUM(ORIGINAL_AMOUNT),0) 
				FROM TOGETHER_REPAYMENT 
				WHERE DATE_FORMAT(REPAYMENT_DATE , '%Y-%m-%d') = #{toDate}) AS MONEYBANK_TODAY_PRIN,
				
				(SELECT 
					COUNT(SRD.M_REPAYMENT_DATE) 
				FROM (SELECT 
						MAX(REPAYMENT_DATE) AS M_REPAYMENT_DATE, SEQ
					FROM TOGETHER_REPAYMENT 
					WHERE DATE_FORMAT(REPAYMENT_DATE , '%Y-%m-%d') = #{toDate} 
					GROUP BY SEQ) AS SRD) AS MONEYBANK_TODAY_PRIN_COUNT,
				
				(SELECT 
					SUM(ORIGINAL_AMOUNT) 
				FROM TOGETHER_REPAYMENT 
				WHERE DATE_FORMAT(REPAYMENT_DATE , '%Y-%m-%d') <= #{toDate}) AS MONEYBANK_ACCUM_PRIN,
				
				(SELECT 
					COUNT(SRD.M_REPAYMENT_DATE) 
				FROM (SELECT 
						MAX(REPAYMENT_DATE) AS M_REPAYMENT_DATE, SEQ
					FROM TOGETHER_REPAYMENT 
					WHERE DATE_FORMAT(REPAYMENT_DATE , '%Y-%m-%d') <= #{toDate} 
					GROUP BY SEQ) AS SRD) AS MONEYBANK_ACCUM_PRIN_COUNT,
					
				(SELECT 	
					SUM(TR.ORIGINAL_REMAINING_AMOUNT) 
				FROM TOGETHER_REPAYMENT AS TR
				JOIN (
					SELECT 
						MAX(REPAYMENT_DATE) AS M_REPAYMENT_DATE, SEQ 
					FROM TOGETHER_REPAYMENT 
					WHERE DATE_FORMAT(REPAYMENT_DATE , '%Y-%m-%d') <= #{toDate} 
					GROUP BY SEQ) AS SRD 
				WHERE SRD.M_REPAYMENT_DATE = TR.REPAYMENT_DATE) AS MONEYBANK_ACCUM_BALANCE,
				
				(SELECT 	
					COUNT(TR.ORIGINAL_REMAINING_AMOUNT) 
				FROM TOGETHER_REPAYMENT AS TR
				JOIN (
					SELECT 
						MAX(REPAYMENT_DATE) AS M_REPAYMENT_DATE, SEQ
					FROM TOGETHER_REPAYMENT 
					WHERE DATE_FORMAT(REPAYMENT_DATE , '%Y-%m-%d') <= #{toDate}
					GROUP BY SEQ) AS SRD 
				WHERE SRD.M_REPAYMENT_DATE = TR.REPAYMENT_DATE
				AND TR.ORIGINAL_REMAINING_AMOUNT > 0) AS MONEYBANK_ACCUM_BALANCE_COUNT
				
				
			FROM DUAL
	   ]]>
   </select>
   
   <select id="MoneyBankUserChart" parameterType="hashmap" resultType="hashmap">
	   <![CDATA[
			SELECT *,
				(SELECT 
					COUNT(SEQ) 
				FROM TOGETHER_REQUEST_INFO 
				WHERE DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d') < #{fromDate}) AS ACCUM_COUNT,
				(SELECT
					COUNT(CU_TABLE.TA_CNT)
				FROM(SELECT 
						CU.USER_NO,
						COUNT(CU.WITHDRAW_YN) AS TA_CNT
					FROM CBCI_USER AS CU
					WHERE CU.WITHDRAW_YN = 'Y'
					AND DATE_FORMAT(CU.WITHDRAW_DATE, '%Y-%m-%d') < #{fromDate}
					GROUP BY CU.USER_NO) AS CU_TABLE
				LEFT JOIN 
					 MONEYBANK_USER_INFO AS MUI
				ON CU_TABLE.USER_NO = MUI.USER_NO) AS ACCUM_TN_COUNT
			FROM
				(SELECT
					DATE_FORMAT(TRI.APPROVAL_DATE, '%Y-%m-%d') AS TRI_DATE, COUNT(SEQ) AS TRI_CNT
				FROM TOGETHER_REQUEST_INFO AS TRI
				WHERE DATE_FORMAT(TRI.APPROVAL_DATE, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}
				GROUP BY TRI_DATE) AS TRI_TABLE
			LEFT JOIN 
				(SELECT 
					CU_TABLE.TA_DATE, 
					CU_TABLE.TA_CNT
				FROM(SELECT 
						CU.USER_NO,
						DATE_FORMAT(CU.WITHDRAW_DATE, '%Y-%m-%d') AS TA_DATE, 
						COUNT(CU.WITHDRAW_YN) AS TA_CNT
					FROM CBCI_USER AS CU
					WHERE CU.WITHDRAW_YN = 'Y'
					AND DATE_FORMAT(CU.WITHDRAW_DATE, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}
					GROUP BY TA_DATE, CU.USER_NO) AS CU_TABLE
				LEFT JOIN 
					 MONEYBANK_USER_INFO AS MUI
				ON CU_TABLE.USER_NO = MUI.USER_NO) AS TA_TABLE
			ON TRI_TABLE.TRI_DATE = TA_TABLE.TA_DATE
			
			UNION
			
			SELECT *,
				(SELECT 
					COUNT(SEQ) 
				FROM TOGETHER_REQUEST_INFO 
				WHERE DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d') < #{fromDate}) AS ACCUM_COUNT,
				(SELECT
					COUNT(CU_TABLE.TA_CNT)
				FROM(SELECT 
						CU.USER_NO,
						COUNT(CU.WITHDRAW_YN) AS TA_CNT
					FROM CBCI_USER AS CU
					WHERE CU.WITHDRAW_YN = 'Y'
					AND DATE_FORMAT(CU.WITHDRAW_DATE, '%Y-%m-%d') < #{fromDate}
					GROUP BY CU.USER_NO) AS CU_TABLE
				LEFT JOIN 
					 MONEYBANK_USER_INFO AS MUI
				ON CU_TABLE.USER_NO = MUI.USER_NO) AS ACCUM_TN_COUNT
			FROM
				(SELECT
					DATE_FORMAT(TRI.APPROVAL_DATE, '%Y-%m-%d') AS TRI_DATE, COUNT(SEQ) AS TRI_CNT
				FROM TOGETHER_REQUEST_INFO AS TRI
				WHERE DATE_FORMAT(TRI.APPROVAL_DATE, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}
				GROUP BY TRI_DATE) AS TRI_TABLE
			RIGHT JOIN 
				(SELECT 
					CU_TABLE.TA_DATE, 
					CU_TABLE.TA_CNT
				FROM(SELECT 
						CU.USER_NO,
						DATE_FORMAT(CU.WITHDRAW_DATE, '%Y-%m-%d') AS TA_DATE, 
						COUNT(CU.WITHDRAW_YN) AS TA_CNT
					FROM CBCI_USER AS CU
					WHERE CU.WITHDRAW_YN = 'Y'
					AND DATE_FORMAT(CU.WITHDRAW_DATE, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}
					GROUP BY TA_DATE, CU.USER_NO) AS CU_TABLE
				LEFT JOIN 
					 MONEYBANK_USER_INFO AS MUI
				ON CU_TABLE.USER_NO = MUI.USER_NO) AS TA_TABLE
			ON TRI_TABLE.TRI_DATE = TA_TABLE.TA_DATE
	   ]]>
   </select>
   
   <select id = "MoneyBankUsageChart" parameterType="hashmap" resultType="hashmap">
     <![CDATA[	
     		SELECT 
     			DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d') AS APPROVAL_DATE, 
     			DATE_FORMAT(EXPIRATION_DATE, '%Y-%m-%d') AS EXPIRATION_DATE, 
     			TOTAL_PAYMENT
			FROM TOGETHER_REQUEST_INFO AS TRI
			WHERE NOT EXPIRATION_DATE IS NULL
			AND DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}
			OR NOT EXPIRATION_DATE IS NULL
			AND DATE_FORMAT(EXPIRATION_DATE, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}
        ]]>	
   </select>
   
   <select id = "MoneyBankServiceChart" parameterType="hashmap" resultType="hashmap">
   	<![CDATA[	
     		SELECT 
     			DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d') AS APPROVAL_DATE, 
     			DATE_FORMAT(EXPIRATION_DATE, '%Y-%m-%d') AS EXPIRATION_DATE, 
     			TOTAL_PAYMENT
			FROM TOGETHER_REQUEST_INFO AS TRI
			WHERE NOT EXPIRATION_DATE IS NULL
			AND DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}
			AND REQUEST_COUNT = 1
			OR NOT EXPIRATION_DATE IS NULL
			AND DATE_FORMAT(EXPIRATION_DATE, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}
			AND REQUEST_COUNT = 1
        ]]>	
   </select>
   
   <select id = "MoneyBankOperationValue" parameterType="hashmap" resultType="hashmap">
   	<![CDATA[
   			SELECT
   				(SELECT 
					COUNT(TRI.SEQ) 
				FROM TOGETHER_REQUEST_INFO TRI
				LEFT JOIN MONEYBANK_USER_INFO MUI
				ON TRI.SEQ = MUI.SEQ 
				WHERE DATE_FORMAT(MUI.MONEYBANK_REQUEST_DATE , '%Y-%m-%d') = #{toDate}) AS MONEYBANK_NEW_APPLY,
				
				(SELECT 
					COUNT(TRI.SEQ) 
				FROM TOGETHER_REQUEST_INFO TRI
				LEFT JOIN MONEYBANK_USER_INFO MUI
				ON TRI.SEQ = MUI.SEQ 
				WHERE DATE_FORMAT(MUI.MONEYBANK_REQUEST_DATE , '%Y-%m-%d') = #{toDate}
				AND TRI.REQUEST_STATUS = 01) AS MONEYBANK_NEW_JUDGE,
				
				(SELECT 
					COUNT(TRI.SEQ) 
				FROM TOGETHER_REQUEST_INFO TRI
				LEFT JOIN MONEYBANK_USER_INFO MUI
				ON TRI.SEQ = MUI.SEQ 
				WHERE DATE_FORMAT(MUI.MONEYBANK_REQUEST_DATE , '%Y-%m-%d') = #{toDate}
				AND TRI.REQUEST_STATUS = 02) AS MONEYBANK_NEW_CONTRACT,
				
				(SELECT 
					COUNT(TRI.SEQ) 
				FROM TOGETHER_REQUEST_INFO TRI
				LEFT JOIN MONEYBANK_USER_INFO MUI
				ON TRI.SEQ = MUI.SEQ 
				WHERE DATE_FORMAT(MUI.MONEYBANK_REQUEST_DATE , '%Y-%m-%d') = #{toDate}
				AND TRI.FINAL_REPAYMENT_YN = 'Y') AS MONEYBANK_CONTRACT_END,
				
				(SELECT 
					IFNULL(SUM(ORIGINAL_AMOUNT),0) 
				FROM TOGETHER_REPAYMENT 
				WHERE DATE_FORMAT(REPAYMENT_DATE , '%Y-%m-%d') = #{toDate}) AS MONEYBANK_TODAY_PRIN,
				
				(SELECT 	
					IFNULL(SUM(TR.ORIGINAL_REMAINING_AMOUNT),0)
				FROM TOGETHER_REPAYMENT AS TR
				JOIN (
					SELECT 
						MAX(REPAYMENT_DATE) AS M_REPAYMENT_DATE, SEQ 
					FROM TOGETHER_REPAYMENT 
					WHERE DATE_FORMAT(REPAYMENT_DATE , '%Y-%m-%d') <= #{toDate} 
					GROUP BY SEQ) AS SRD 
				WHERE SRD.M_REPAYMENT_DATE = TR.REPAYMENT_DATE) AS MONEYBANK_ACCUM_BALANCE,
				
				(SELECT
					IFNULL(SUM(FEE_AMOUNT),0)
				FROM TOGETHER_REPAYMENT AS TR
				WHERE DATE_FORMAT(REPAYMENT_DATE , '%Y-%m-%d') = #{toDate}) AS MONEYBANK_FEE
				
			FROM DUAL
   	]]>
   </select>
   
     <select id = "MoneyBankOperationCount" parameterType="hashmap" resultType="hashmap">
     	<![CDATA[	
     		SELECT 
     			DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d') AS APPROVAL_DATE, 
     			DATE_FORMAT(EXPIRATION_DATE, '%Y-%m-%d') AS EXPIRATION_DATE
			FROM TOGETHER_REQUEST_INFO AS TRI
			WHERE NOT EXPIRATION_DATE IS NULL
			AND DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d') <= #{toDate}
			OR NOT EXPIRATION_DATE IS NULL
			AND DATE_FORMAT(EXPIRATION_DATE, '%Y-%m-%d') <= #{toDate}
        ]]>	
   </select>
   
   <select id = "MoneyBankContractChart" parameterType="hashmap" resultType="hashmap">
   		<![CDATA[
   			SELECT 
				AP_TABLE.TOTAL_PAYMENT,
				DATE_FORMAT(AP_TABLE.MONEYBANK_REQUEST_DATE, '%Y-%m-%d') AS MONEYBANK_REQUEST_DATE,
				DATE_FORMAT(CON_TABLE.APPROVAL_DATE, '%Y-%m-%d') AS APPROVAL_DATE, 
				CON_TABLE.APP_SUM,
				(SELECT 
					SUM(TOTAL_PAYMENT) 
				FROM TOGETHER_REQUEST_INFO 
				WHERE REQUEST_STATUS = 2
				AND DATE_FORMAT(APPROVAL_DATE , '%Y-%m-%d') < #{fromDate}) AS APP_ACCUM_SUM,
				(SELECT
					SUM(TOTAL_PAYMENT)
				FROM TOGETHER_REQUEST_INFO
				WHERE REQUEST_STATUS = 1
				AND SEQ = AP_TABLE.SEQ) AS JUDGE_SUM,
				(SELECT 
					SUM(TOTAL_PAYMENT)
				FROM MONEYBANK_USER_INFO AS MUI
				LEFT JOIN TOGETHER_REQUEST_INFO AS TRI
				ON MUI.SEQ = TRI.SEQ
				WHERE DATE_FORMAT(MUI.MONEYBANK_REQUEST_DATE, '%Y-%m-%d') < #{fromDate}) AS APP_TOTAL_PAYMENT
			FROM	
				(SELECT 
					TRI.SEQ,
					TRI.TOTAL_PAYMENT,
					MUI.MONEYBANK_REQUEST_DATE
				FROM MONEYBANK_USER_INFO AS MUI
				LEFT JOIN TOGETHER_REQUEST_INFO AS TRI
				ON MUI.SEQ = TRI.SEQ
				WHERE DATE_FORMAT(MUI.MONEYBANK_REQUEST_DATE, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}) AS AP_TABLE
				
				LEFT JOIN
				
				(SELECT
					TRI.SEQ,
					TRI.APPROVAL_DATE,
					(SELECT 
						SUM(TOTAL_PAYMENT) 
					FROM TOGETHER_REQUEST_INFO
					WHERE SEQ = TRI.SEQ) AS APP_SUM
				FROM TOGETHER_REQUEST_INFO TRI
				WHERE REQUEST_STATUS = 2
				AND DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}) AS CON_TABLE
				ON CON_TABLE.SEQ = AP_TABLE.SEQ
   		]]>
   </select>
   
   <select id = "MoneyBankRepaymentChart" parameterType="hashmap" resultType="hashmap">
   		<![CDATA[
   			SELECT
   				TR.SEQ,
				DATE_FORMAT(TR.REPAYMENT_DATE, '%Y-%m-%d') AS REPAYMENT_DATE,
				DATE_FORMAT(TRI.DEPOSIT_DATE, '%Y-%m-%d') AS DEPOSIT_DATE,
				TRI.TOTAL_PAYMENT,
				TR.TOTAL_REPAYMENT_AMOUNT,
				TR.ORIGINAL_REMAINING_AMOUNT,
				TR.ORIGINAL_AMOUNT,
				TR.FEE_AMOUNT,
				(SELECT 
					SUM(TOTAL_REPAYMENT_AMOUNT) 
				FROM TOGETHER_REPAYMENT 
				WHERE DATE_FORMAT(REPAYMENT_DATE , '%Y-%m-%d') < #{fromDate}) AS  ACCUM_REPAY,
				(SELECT 	
					SUM(TR.ORIGINAL_REMAINING_AMOUNT) 
				FROM TOGETHER_REPAYMENT AS TR
				JOIN (
					SELECT 
						MAX(REPAYMENT_DATE) AS M_REPAYMENT_DATE, SEQ 
					FROM TOGETHER_REPAYMENT 
					WHERE DATE_FORMAT(REPAYMENT_DATE , '%Y-%m-%d') <= #{fromDate} 
					GROUP BY SEQ) AS SRD 
				WHERE SRD.M_REPAYMENT_DATE = TR.REPAYMENT_DATE) AS  ACCUM_REMAIN
			FROM TOGETHER_REPAYMENT TR
			LEFT JOIN TOGETHER_REQUEST_INFO TRI
			ON TR.SEQ = TRI.SEQ
			WHERE DATE_FORMAT(TR.REPAYMENT_DATE, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}
   		]]>
   </select>
   
   <!-- MONEYBANK API USER DATA (20210708 기준) -->
   <select id="selectUserCaseData" parameterType="hashmap" resultType="hashmap">
   		SELECT 
			CU.USER_ID 
			, CU.USER_NM
			, CU.FIRM_NM
			, CU.FIRM_ID
			, (SELECT TYPE_NAME FROM CBCI_BIZTYPE CB WHERE CB.TYPE_NO = CU.BUSINESS_TYPE) AS BUSINESS_TYPE
			, (SELECT SEC_NAME FROM CBCI_SECTOR CS WHERE CS.SEC_NO = CU.SECTORS) AS SECTORS
			, CU.USER_PHONE
			, CU.FIRM_TEL
			, CU.FIRM_ZIP_CODE
			, CU.FIRM_ADDR
		FROM CBCI_USER CU
		WHERE CU.USER_NO = #{USER_NO}
   </select>
   
   <select id = "selectRequestGet" parameterType="hashmap" resultType="hashmap">
		SELECT 
			CU.USER_NM, 
			CU.FIRM_NM, 
			CU.BUSINESS_TYPE, 
			CU.REG_DATE, 
			CU.USER_ID , 
			CU.USER_NM AS REP_NM, 
			CU.USER_PHONE , 
			CU.USER_PHONE , 
			MUI.SEQ,
			MUI.REQUEST_STATUS , 
			MUI.MONEYBANK_REQUEST_DATE , 
			IFNULL(SELECT MP.PRODUCT_NAME FROM MONEYBANK_PRODUCT MP WHERE MP.DIVISION = MUI.DIVISION, "-") AS DIVISION,
			MUI.BUSINESS_PERIOD , 
			MUI.SALES_AMOUNT , 
			MUI.B2B_LIMIT_AMOUNT , 
			MUI.REQUEST_SHOP , 
			LENGTH(MUI.REQUEST_SHOP)-LENGTH(REPLACE(MUI.REQUEST_SHOP, ',', ''))+1 AS SHOP_COUNT ,
			HBBRI.total_payment AS TOTAL_PAYMENT , 
			HBBRI.daily_usage_fee AS DAILY_USAGE_FEE 
		FROM 
			CBCI_USER CU 
			LEFT JOIN MONEYBANK_USER_INFO MUI ON CU.USER_NO = MUI.USER_NO 
			LEFT JOIN HELLOPAY_B2B_EXECUTE_INFO HBBRI ON MUI.SEQ = HBBRI.seq
		WHERE
			CU.USER_NM = #{USER_NM} 
			AND CU.FIRM_NM = #{FIRM_NM}
			AND MUI.DIVISION = #{DIVISION}
		ORDER BY #{ORDER_BY}
   </select>
   
   
   <!-- 머니뱅크 관리 NAVI-TAB -->
	<!-- 머니뱅크 관리 메인 상단통계 -->
	<select id="selectMainInfo" parameterType="hashmap" resultType = "hashmap">
		SELECT
			RESULT_TB.PREVDATE_COUNT
            , (RESULT_TB.MB_COUNT - RESULT_TB.WD_COUNT) AS CUMUL_COUNT
            , RESULT_TB.PREVDATE_TOTALPAY
            , RESULT_TB.CUMUL_TOTALPAY
            , RESULT_TB.PREV_ORIGINAL_AMOUNT
            , RESULT_TB.CUMUL_ORIGINAL_AMOUNT
            , RESULT_TB.REPAYMENT_REMAINING_AMOUNT
            , RESULT_TB.PREVDATE_REPAY_COUNT
            , RESULT_TB.CUMUL_REPAY_COUNT
        FROM(
		<![CDATA[
		SELECT
			SUM(IFNULL((SELECT COUNT(MUIS.SEQ) 
						FROM MONEYBANK_USER_INFO MUIS 
						WHERE DATE_FORMAT(MUIS.MONEYBANK_REQUEST_DATE, '%Y-%m-%d') = #{toDate} 
						AND MUI.SEQ = MUIS.SEQ), 0)) AS PREVDATE_COUNT,
		 	SUM(IFNULL((SELECT COUNT(MUIS.SEQ) 
		 				FROM MONEYBANK_USER_INFO MUIS 
		 				WHERE MUI.SEQ = MUIS.SEQ 
		 				AND DATE_FORMAT(MUIS.MONEYBANK_REQUEST_DATE, '%Y-%m-%d') <= #{toDate}), 0)) AS MB_COUNT,
		 	SUM(IFNULL((SELECT COUNT(MUIS.SEQ) 
		 				FROM MONEYBANK_USER_INFO MUIS LEFT JOIN CBCI_USER CUS ON MUIS.USER_NO = CUS.USER_NO
		 				WHERE MUI.SEQ = MUIS.SEQ 
		 				AND DATE_FORMAT(CUS.WITHDRAW_DATE, '%Y-%m-%d') <= #{toDate}), 0)) AS WD_COUNT,			
		 	ROUND(SUM(IFNULL((SELECT SUM(TRIS.total_payment) 
		 				FROM HELLOPAY_B2B_EXECUTE_INFO TRIS LEFT JOIN MONEYBANK_USER_INFO MUIS ON MUIS.SEQ = TRIS.SEQ 
		 				WHERE TRIS.FINAL_REPAYMENT_YN='N' 
		 				AND DATE_FORMAT(MUIS.MONEYBANK_REQUEST_DATE, '%Y-%m-%d') = #{toDate}), 0))/1000000, 1) AS PREVDATE_TOTALPAY,
		    ROUND(IFNULL((SELECT SUM(TRIS.total_payment) 
		    		FROM HELLOPAY_B2B_EXECUTE_INFO TRIS LEFT JOIN MONEYBANK_USER_INFO MUIS ON MUIS.SEQ = TRIS.SEQ 
		    		WHERE DATE_FORMAT(MUIS.MONEYBANK_REQUEST_DATE, '%Y-%m-%d') <= #{toDate}), 0)/1000000, 1) AS CUMUL_TOTALPAY,
		    ROUND(IFNULL((SELECT SUM(SUB_RESULT.original_amount) 
		    		FROM((SELECT TRS.original_amount FROM HELLOPAY_B2B_REPAYMENT TRS 
		    		WHERE DATE_FORMAT(TRS.repayment_date, '%Y-%m-%d') = #{toDate}) SUB_RESULT)), 0)/1000000, 1) AS PREV_ORIGINAL_AMOUNT,
			ROUND(IFNULL((SELECT SUB_RESULT.ORIGINAL_AMOUNT 
					FROM((SELECT SUM(TRS.original_amount) AS ORIGINAL_AMOUNT FROM HELLOPAY_B2B_REPAYMENT TRS 
					WHERE DATE_FORMAT(TRS.REPAYMENT_DATE, '%Y-%m-%d') <= #{toDate}) AS SUB_RESULT)), 0)/1000000, 1) AS CUMUL_ORIGINAL_AMOUNT,
		    ROUND(IFNULL((SELECT SUM(SUB_RESULT.REPAYMENT_REMAINING_AMOUNT) AS REPAYMENT_REMAINING_AMOUNT 
		    	FROM(
				SELECT
					DISTINCT RP.SEQ,
					(SELECT MIN(TRS.repayment_remaining_amount) FROM HELLOPAY_B2B_REPAYMENT TRS WHERE RP.seq = TRS.seq) AS REPAYMENT_REMAINING_AMOUNT
				FROM HELLOPAY_B2B_REPAYMENT RP
				) SUB_RESULT
		    ), 0)/1000000, 1) AS REPAYMENT_REMAINING_AMOUNT,
		    (SELECT COUNT(DISTINCT TRS.seq) FROM HELLOPAY_B2B_REPAYMENT TRS LEFT JOIN HELLOPAY_B2B_EXECUTE_INFO TRIS ON TRS.seq=TRIS.seq WHERE TRS.repayment_date = #{toDate}) AS PREVDATE_REPAY_COUNT,
			(SELECT COUNT(DISTINCT TRS.seq) FROM HELLOPAY_B2B_REPAYMENT TRS LEFT JOIN HELLOPAY_B2B_EXECUTE_INFO TRIS ON TRS.seq=TRIS.seq WHERE TRS.repayment_date <= #{toDate}) AS CUMUL_REPAY_COUNT
		FROM MONEYBANK_USER_INFO MUI
		]]>
		)RESULT_TB
	</select>
	
	<!-- 머니뱅크 관리 운영지표 상단 통계 -->
	<select id="selectOperationInfo" parameterType="hashmap" resultType = "hashmap">
		<![CDATA[
		SELECT
			SUM(IFNULL((SELECT COUNT(MUIS.SEQ) 
						FROM MONEYBANK_USER_INFO MUIS 
						WHERE MUI.SEQ = MUIS.SEQ 
						AND DATE_FORMAT(MUIS.MONEYBANK_REQUEST_DATE, '%Y-%m-%d') = #{prevDate}), 0)) AS REQ_COUNT,
			SUM(IFNULL((SELECT COUNT(MUIS.SEQ) 
						FROM MONEYBANK_USER_INFO MUIS LEFT JOIN HELLOPAY_B2B_EXECUTE_INFO TRIS ON MUIS.SEQ = TRIS.seq 
						WHERE MUI.SEQ = MUIS.SEQ 
						AND DATE_FORMAT(MUIS.MONEYBANK_REQUEST_DATE, '%Y-%m-%d') = #{prevDate}), 0)) AS EVAL_COUNT,
			SUM(IFNULL((SELECT COUNT(MUIS.SEQ) 
						FROM MONEYBANK_USER_INFO MUIS LEFT JOIN HELLOPAY_B2B_EXECUTE_INFO TRIS ON MUIS.SEQ = TRIS.seq
						WHERE MUI.SEQ = MUIS.SEQ 
						AND DATE_FORMAT(TRIS.approval_date, '%Y-%m-%d') = #{prevDate}), 0)) AS CONTRACT_COUNT,
			SUM(IFNULL((SELECT COUNT(MUIS.SEQ) 
						FROM MONEYBANK_USER_INFO MUIS LEFT JOIN HELLOPAY_B2B_EXECUTE_INFO TRIS ON MUIS.SEQ = TRIS.seq
						WHERE MUI.SEQ = MUIS.SEQ 
						AND TRIS.final_repayment_yn = 'Y' AND DATE_FORMAT(TRIS.approval_date, '%Y-%m-%d') = #{prevDate}), 0)) AS FIN_COUNT,
			SUM(IFNULL((SELECT COUNT(MUIS.SEQ) 
						FROM MONEYBANK_USER_INFO MUIS LEFT JOIN HELLOPAY_B2B_EXECUTE_INFO TRIS ON MUIS.SEQ = TRIS.seq 
						WHERE MUI.SEQ = MUIS.SEQ 
						AND TRIS.final_repayment_yn = 'N' AND DATE_FORMAT(TRIS.approval_date, '%Y-%m-%d') <= #{prevDate}), 0)) AS RUNNING_COUNT,
			ROUND(SUM(IFNULL((SELECT SUM(TRS.original_amount) 
						FROM HELLOPAY_B2B_EXECUTE_INFO TRIS LEFT JOIN HELLOPAY_B2B_REPAYMENT TRS ON TRIS.seq = TRS.seq
						WHERE MUI.SEQ = TRIS.seq 
						AND DATE_FORMAT(TRS.repayment_date, '%Y-%m-%d') = #{prevDate}), 0))/1000000, 1) AS ORIGINAL_REPAYED,
			ROUND(SUM(IFNULL((SELECT SUM(TRS.fee_amount) 
						FROM HELLOPAY_B2B_EXECUTE_INFO TRIS LEFT JOIN HELLOPAY_B2B_REPAYMENT TRS ON TRIS.seq = TRS.seq
						WHERE MUI.SEQ = TRIS.seq 
						AND DATE_FORMAT(TRS.repayment_date, '%Y-%m-%d') = #{prevDate}), 0))/1000000, 1) AS FEE_REPAYED,
			ROUND(IFNULL((SELECT SUM(SUB_RESULT.repayment_remaining_amount) 
				        FROM(SELECT DISTINCT RP.seq, (SELECT MIN(TRS.repayment_remaining_amount) FROM HELLOPAY_B2B_REPAYMENT TRS WHERE RP.seq = TRS.seq) AS REPAYMENT_REMAINING_AMOUNT
					FROM HELLOPAY_B2B_REPAYMENT RP
				   ) SUB_RESULT), 0)/1000000, 1) AS REMAINING_AMOUNT
		FROM MONEYBANK_USER_INFO MUI
		]]>
	</select>
	
	<!-- 머니뱅크 관리 회원 현황 -->
	<select id="selectMemberGraphData" parameterType="hashmap" resultType="hashmap">
		SELECT 
			SUM(COUNT) AS COUNT
			, RESULT_TB.FOR_DATE
			, RESULT_TB.WEEKCOUNT
			, RESULT_TB.YEARMONTH
            , WEEKDAY(RESULT_TB.FOR_DATE) AS WEEKDAY
			<if test='flag=="member" or flag=="user" or flag=="re_user"'>
			, SUM(RESULT_TB.TOTAL_PAYMENT) AS AMOUNT
			, IFNULL((RESULT_TB.PREV_MB_COUNT-RESULT_TB.PREV_WD_COUNT), 0) AS PREV_MB_COUNT
			, IFNULL(RESULT_TB.PREV_USER_COUNT, 0) AS PREV_USER_COUNT
			, IFNULL(RESULT_TB.PREV_REUSER_COUNT, 0) AS PREV_REUSER_COUNT
			, IFNULL(RESULT_TB.PREV_USER_AMOUNT, 0) AS PREV_USER_AMOUNT
			</if>
		FROM(
			SELECT
				<if test='flag=="member" or flag=="user" or flag=="re_user"'>
				COUNT(TRI.APPROVAL_DATE) AS COUNT
				, DATE_FORMAT(TRI.APPROVAL_DATE, '%Y-%m-%d') AS FOR_DATE
				, WEEK(TRI.APPROVAL_DATE, 4) AS WEEKCOUNT
				, DATE_FORMAT(TRI.APPROVAL_DATE, '%Y-%m') as YEARMONTH 
				, (SELECT COUNT(*) 
				   FROM MONEYBANK_USER_INFO MUIS LEFT JOIN HELLOPAY_B2B_EXECUTE_INFO TRIS ON MUIS.SEQ = TRIS.SEQ
	               WHERE TRIS.APPROVAL_DATE &lt; #{fromDate}) AS PREV_MB_COUNT
	            , (SELECT COUNT(MUIS.SEQ) 
				   FROM MONEYBANK_USER_INFO MUIS LEFT JOIN CBCI_USER CUS ON MUIS.USER_NO = CUS.USER_NO
                   LEFT JOIN HELLOPAY_B2B_EXECUTE_INFO TRIS ON MUIS.SEQ = TRIS.SEQ
	               WHERE CUS.WITHDRAW_DATE &lt; #{fromDate}) AS PREV_WD_COUNT
	            , (SELECT COUNT(*) 
				   FROM HELLOPAY_B2B_EXECUTE_INFO TRIS LEFT JOIN MONEYBANK_USER_INFO MUIS ON TRIS.SEQ = MUIS.SEQ 
	               WHERE TRIS.APPROVAL_DATE &lt; #{fromDate} 
	               AND TRIS.FINAL_REPAYMENT_YN='N') AS PREV_USER_COUNT
	            , (SELECT COUNT(*) 
				   FROM HELLOPAY_B2B_EXECUTE_INFO TRIS LEFT JOIN MONEYBANK_USER_INFO MUIS ON TRIS.SEQ = MUIS.SEQ 
	               WHERE TRIS.APPROVAL_DATE &lt; #{fromDate} 
	               ) AS PREV_REUSER_COUNT
	            , (SELECT SUM(TRIS.TOTAL_PAYMENT) 
	               FROM HELLOPAY_B2B_EXECUTE_INFO TRIS LEFT JOIN MONEYBANK_USER_INFO MUIS ON TRIS.SEQ = MUIS.SEQ 
	               WHERE TRIS.APPROVAL_DATE &lt; #{fromDate} 
	               AND TRIS.FINAL_REPAYMENT_YN='N') AS PREV_USER_AMOUNT
				</if>
				<if test='flag=="withdraw"'>
				COUNT(CU.WITHDRAW_DATE) AS COUNT
				, DATE_FORMAT(CU.WITHDRAW_DATE, '%Y-%m-%d') AS FOR_DATE
				, WEEK(CU.WITHDRAW_DATE, 4) AS WEEKCOUNT
				, DATE_FORMAT(CU.WITHDRAW_DATE, '%Y-%m') as YEARMONTH 
				</if>
				, TRI.TOTAL_PAYMENT
			    , TRI.FINAL_REPAYMENT_YN
			FROM MONEYBANK_USER_INFO MUI
			LEFT JOIN CBCI_USER CU ON CU.USER_NO = MUI.USER_NO 
			LEFT JOIN HELLOPAY_B2B_EXECUTE_INFO TRI ON MUI.SEQ = TRI.SEQ
			<if test='flag=="member" or flag=="user" or flag=="re_user"'>
			WHERE TRI.APPROVAL_DATE &gt; #{fromDate}
			AND TRI.APPROVAL_DATE &lt; #{toDate}
				<if test='flag=="user"'>
			    AND TRI.FINAL_REPAYMENT_YN = 'N'
				</if>
			GROUP BY TRI.APPROVAL_DATE
			</if>
			<if test='flag=="withdraw"'>
			WHERE CU.WITHDRAW_DATE &gt; #{fromDate}
			AND CU.WITHDRAW_DATE &lt; #{toDate}
			GROUP BY CU.WITHDRAW_DATE
			</if>
		)RESULT_TB
		<if test='dateFlag == "day" or dateFlag == "week"'>	
		GROUP BY RESULT_TB.FOR_DATE
		</if>
		<if test='dateFlag == "month"'>	
		GROUP BY RESULT_TB.YEARMONTH
		</if>
		ORDER BY FOR_DATE ASC
	</select>
	
	<!-- 운영지표 그래프 데이터 -->
	<select id="selectOperationGraphData" parameterType="hashmap" resultType="hashmap">
		SELECT 
			SUM(RESULT_TB.AMOUNT) AS AMOUNT
			, RESULT_TB.FOR_DATE
			, RESULT_TB.WEEKCOUNT
			, RESULT_TB.YEARMONTH
			, (SELECT SUM(TRIS.TOTAL_PAYMENT) 
				FROM HELLOPAY_B2B_EXECUTE_INFO TRIS 
				LEFT JOIN MONEYBANK_USER_INFO MUIS ON TRIS.SEQ = MUIS.SEQ 
				WHERE MUIS.MONEYBANK_REQUEST_DATE &lt; #{fromDate}) AS PREV_REQUEST_AMOUNT
            , (SELECT SUM(TRIS.TOTAL_PAYMENT) 
            	FROM HELLOPAY_B2B_EXECUTE_INFO TRIS 
            	LEFT JOIN MONEYBANK_USER_INFO MUIS ON TRIS.SEQ = MUIS.SEQ 
            	WHERE TRIS.APPROVAL_DATE &lt; #{fromDate} 
            	) AS PREV_APPROVED_AMOUNT
            , (SELECT SUM(TRS.ORIGINAL_AMOUNT) 
            	FROM HELLOPAY_B2B_EXECUTE_INFO TRIS 
            	LEFT JOIN HELLOPAY_B2B_REPAYMENT TRS ON TRIS.SEQ = TRS.SEQ 
            	WHERE TRIS.APPROVAL_DATE &lt; #{fromDate}) AS PREV_ORIGINAL_AMOUNT
		FROM(
			SELECT
			    <if test='flag=="request"'>
				DATE_FORMAT(MUI.MONEYBANK_REQUEST_DATE, '%Y-%m-%d') AS FOR_DATE
				, WEEK(MUI.MONEYBANK_REQUEST_DATE, 4) AS WEEKCOUNT
				, DATE_FORMAT(MUI.MONEYBANK_REQUEST_DATE, '%Y-%m') as YEARMONTH 
				, TRI.TOTAL_PAYMENT AS AMOUNT
				</if>
				<if test='flag=="evaluate" or flag=="approval"'>
				DATE_FORMAT(TRI.APPROVAL_DATE, '%Y-%m-%d') AS FOR_DATE
				, WEEK(TRI.APPROVAL_DATE, 4) AS WEEKCOUNT
				, DATE_FORMAT(TRI.APPROVAL_DATE, '%Y-%m') as YEARMONTH 
				, TRI.TOTAL_PAYMENT AS AMOUNT
		        </if>
		        <if test='flag=="principal" or flag=="feeAmount"'>
				DATE_FORMAT(TR.REPAYMENT_DATE, '%Y-%m-%d') AS FOR_DATE
				, WEEK(TR.REPAYMENT_DATE, 4) AS WEEKCOUNT
				, DATE_FORMAT(TR.REPAYMENT_DATE, '%Y-%m') as YEARMONTH 
				</if>
		        <if test='flag=="principal"'>
		        , TR.ORIGINAL_AMOUNT AS AMOUNT
				</if>
				<if test='flag=="feeAmount"'>
		        , TR.FEE_AMOUNT AS AMOUNT
				</if>
			    , TRI.FINAL_REPAYMENT_YN
			FROM HELLOPAY_B2B_EXECUTE_INFO TRI
		   	LEFT JOIN MONEYBANK_USER_INFO MUI ON TRI.SEQ = MUI.SEQ
			LEFT JOIN HELLOPAY_B2B_REPAYMENT TR ON TRI.SEQ = TR.SEQ
		<if test='flag=="request" or flag=="evaluate" or flag=="approval"'>
		WHERE MUI.MONEYBANK_REQUEST_DATE &gt;= #{fromDate}
		AND MUI.MONEYBANK_REQUEST_DATE &lt; #{toDate}
		GROUP BY MUI.MONEYBANK_REQUEST_DATE
		</if>
		<if test='flag=="principal" or flag=="feeAmount"'>
		WHERE TR.REPAYMENT_DATE &gt;= #{fromDate}
		AND TR.REPAYMENT_DATE &lt; #{toDate}
		GROUP BY TR.REPAYMENT_DATE
		</if>
		)RESULT_TB	
	    <if test='dateFlag == "day" or dateFlag == "week"'>	
		GROUP BY RESULT_TB.FOR_DATE
		</if>
		<if test='dateFlag == "month"'>	
		GROUP BY RESULT_TB.YEARMONTH
		</if>
		ORDER BY FOR_DATE ASC
	</select>
	
    <!-- 머니뱅크 관리 이용상세 데이터 -->
	<select id="selectMoneybankDetail" parameterType="hashmap" resultType="hashmap">
		SELECT
			<if test='flag!="sum"'>
			FOUND_ROWS() AS TOTAL_COUNT, 
	        RESULT_TB.*
	        </if>
	        <if test='flag=="sum"'>
			COUNT(*) AS TOTAL_SEQ
			,SUM(RESULT_TB.B2B_LIMIT_AMOUNT) AS TOTAL_AMOUNTS
		    ,SUM(RESULT_TB.ORIGINAL_AMOUNT) AS TOTAL_ORIGINAL_AMOUNT
		    ,SUM(RESULT_TB.REMAINING_AMOUNT) AS TOTAL_REMAINING_AMOUNT
			</if>
	    FROM(        
		SELECT 
			@det_row_no := @det_row_no + 1 AS RNUM,
			MUI.SEQ,
            MUI.REQUEST_STATUS,
			CU.USER_NO,
		    IFNULL(DATE_FORMAT(MUI.CONTRACT_DATE, '%Y-%m-%d'), "-") AS CONTRACT_DATE,
		    CU.USER_NM,
		    CU.FIRM_NM
		    , CU.USER_ID
		    , MUI.DIVISION
		    , CU.USER_PHONE
		    , IFNULL(CU.FIRM_TEL, "-") AS FIRM_TEL
		    , MUI.B2B_LIMIT_AMOUNT
		    , IFNULL((SELECT HRI_INNER.daily_usage_fee FROM HELLOPAY_B2B_EXECUTE_INFO HRI_INNER WHERE HRI_INNER.seq = MUI.SEQ LIMIT 1), 0) AS DAILY_USAGE_FEE
            , IFNULL((SELECT HRI_INNER.daily_interest_fee FROM HELLOPAY_B2B_EXECUTE_INFO HRI_INNER WHERE HRI_INNER.seq = MUI.SEQ LIMIT 1), 0) AS DAILY_INTEREST_RATE
            , IFNULL((SELECT CPR.BUSINESS_PERIOD FROM CBCI_PRIZM_RESULT CPR WHERE CPR.SEQ = MUI.SEQ ORDER BY CPR.INPUT_DATE DESC LIMIT 1), 'TBD') AS BUSINESS_PERIOD
			, IFNULL((SELECT CPR.MONTH_SALES_VALUE FROM CBCI_PRIZM_RESULT CPR WHERE CPR.SEQ = MUI.SEQ ORDER BY CPR.INPUT_DATE DESC LIMIT 1), 'TBD') AS MONTH_SALES_VALUE
		    , IFNULL((SELECT CPR.PRIZM_SCORE FROM CBCI_PRIZM_RESULT CPR WHERE CPR.SEQ = MUI.SEQ ORDER BY CPR.INPUT_DATE DESC LIMIT 1), 'TBD') AS PRIZM_SCORE
		    , IFNULL((SELECT SUM(HBR.original_amount) FROM HELLOPAY_B2B_REPAYMENT HBR LEFT JOIN HELLOPAY_B2B_EXECUTE_INFO HBI ON HBR.seq = HBI.seq WHERE MUI.SEQ = HBR.seq AND HBI.final_repayment_yn='N'), 0) AS ORIGINAL_AMOUNT
		    , IFNULL((SELECT MIN(HBR.repayment_remaining_amount) FROM (SELECT seq, repayment_remaining_amount FROM HELLOPAY_B2B_REPAYMENT WHERE repayment_remaining_amount != 0) HBR LEFT JOIN HELLOPAY_B2B_EXECUTE_INFO HBI ON HBR.seq = HBI.seq WHERE MUI.SEQ = HBR.seq AND HBI.final_repayment_yn = 'N'), 0) AS REMAINING_AMOUNT
		FROM MONEYBANK_USER_INFO MUI
		LEFT JOIN CBCI_USER CU ON MUI.USER_NO = CU.USER_NO
		, (SELECT @det_row_no := 0) DET_ROW_NO
		WHERE CU.USER_ID LIKE #{USER_ID} 
		AND CU.USER_NM LIKE #{REP_NM} -- 회원명 대표자명으로 검색
		AND CU.FIRM_NM LIKE #{FIRM_NM} -- 회사명으로 검색
		<if test='fromDate != null and fromDate != ""'>
			AND MUI.CONTRACT_DATE &gt;= #{fromDate} 
		</if>
		<if test='toDate != null and toDate != ""'>
			AND MUI.CONTRACT_DATE &lt;= #{toDate} 
		</if>
		AND MUI.B2B_LIMIT_AMOUNT BETWEEN ${minAmount} AND ${maxAmount}
		<if test='DIVISION != null and DIVISION != "-"'>
			AND MUI.DIVISION = #{DIVISION}
		</if>
		ORDER BY ${ORDER_BY}
	    )RESULT_TB
	    <if test='flag!="sum"'>
	    LIMIT ${LIMIT}
	    </if>
    </select>
    
    <select id="selectWarningMember" parameterType = "hashmap" resultType="hashmap">
    	SELECT
    		
    </select>
    <!-- 머니뱅크 관리 NAVI-TAB END -->
    
</mapper>
