<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.azon.front.cubici.mapper.InfoSalesMapper">

    <!-- 매출 목록 -->
    <select id="selectSalesList" parameterType="hashmap" resultType="hashmap">
    	<if test='salesGraphFlag != null and salesGraphFlag == "dailySum"'> <!-- 통합정보 > 당월현황 -->
   		SELECT
    		RESULT_TB.ORDERED_AT,
			IFNULL(SUM(RESULT_TB.ORDER_PRICE), 0) AS ORDER_PRICE,
			IFNULL(SUM(RESULT_TB.QUANTITY), 0) AS QUANTITY
		FROM (
    	</if>
    	<if test='salesGraphFlag != null and salesGraphFlag == "dailyShopSum"'> <!-- 통합정보 > 매출분석 -->
    	SELECT
			RESULT_TB.ORDERED_AT,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 1 THEN RESULT_TB.SHOP END), '인터파크') AS INTERPARK_SHOP,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 1 THEN RESULT_TB.ORDER_PRICE END), '0') AS INTERPARK_PRICE,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 1 THEN RESULT_TB.QUANTITY END), '0') AS INTERPARK_QUANTITY,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 2 THEN RESULT_TB.SHOP END), '지마켓') AS GMARKET_SHOP,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 2 THEN RESULT_TB.ORDER_PRICE END), '0') AS GMARKET_PRICE,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 2 THEN RESULT_TB.QUANTITY END), '0') AS GMARKET_QUANTITY,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 3 THEN RESULT_TB.SHOP END), '옥션') AS AUCTION_SHOP,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 3 THEN RESULT_TB.ORDER_PRICE END), '0') AS AUCTION_PRICE,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 3 THEN RESULT_TB.QUANTITY END), '0') AS AUCTION_QUANTITY,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 4 THEN RESULT_TB.SHOP END), '11번가') AS ELEVEN_SHOP,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 4 THEN RESULT_TB.ORDER_PRICE END), '0') AS ELEVEN_PRICE,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 4 THEN RESULT_TB.QUANTITY END), '0') AS ELEVEN_QUANTITY,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 11 THEN RESULT_TB.SHOP END), '쿠팡') AS COUPANG_SHOP,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 11 THEN RESULT_TB.ORDER_PRICE END), '0') AS COUPANG_PRICE,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 11 THEN RESULT_TB.QUANTITY END), '0') AS COUPANG_QUANTITY,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 14 THEN RESULT_TB.SHOP END), '네이버') AS NAVER_SHOP,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 14 THEN RESULT_TB.ORDER_PRICE END), '0') AS NAVER_PRICE,
			IFNULL(GROUP_CONCAT(CASE WHEN RESULT_TB.SHOP_TYPE = 14 THEN RESULT_TB.QUANTITY END), '0') AS NAVER_QUANTITY
		FROM (
			SELECT
				COMBINE_TB.ORDERED_AT,
				COMBINE_TB.SHOP_TYPE,
				COMBINE_TB.SHOP,
				IFNULL(SUM(COMBINE_TB.ORDER_PRICE), 0) AS ORDER_PRICE,
				IFNULL(SUM(COMBINE_TB.QUANTITY), 0) AS QUANTITY
			FROM (
        </if>
    	<if test='salesGraphFlag != null and salesGraphFlag == "tab3_promotion"'> <!-- 통합정보 > 상품분석(쇼핑몰 판매비중, 쇼핑몰 가격할인 및 판촉) -->
   		SELECT
			RESULT_TB.SHOP_TYPE,
			RESULT_TB.SHOP,
			SUM(RESULT_TB.PRODUCT_PRICE) AS PRODUCT_PRICE, -- 개별 가격
			SUM(RESULT_TB.QUANTITY) AS QUANTITY, -- 수량
			SUM(RESULT_TB.ORDER_PRICE) AS ORDER_PRICE, -- 실판매액
			SUM(RESULT_TB.CAL_PRICE) AS CAL_PRICE, -- 개별 판매가 * 수량
			TRUNCATE(((SUM(RESULT_TB.CAL_PRICE)-SUM(RESULT_TB.ORDER_PRICE))/SUM(RESULT_TB.CAL_PRICE)), 3)*100 AS PROMOTION_RATE  -- 판촉율
		FROM (
			SELECT
				THIRD_CAL.SHOP_TYPE,
				THIRD_CAL.SHOP,
				THIRD_CAL.UNIQUE_OPTION,
				THIRD_CAL.PRODUCT_PRICE,
				THIRD_CAL.DISCOUNT_PRICE,
				THIRD_CAL.QUANTITY,
				(CASE
					WHEN THIRD_CAL.SHOP_TYPE = 4 THEN (THIRD_CAL.PRODUCT_PRICE+THIRD_CAL.OPTION_PRICE)
					WHEN THIRD_CAL.SHOP_TYPE = 11 THEN ((THIRD_CAL.PRODUCT_PRICE*THIRD_CAL.QUANTITY)+THIRD_CAL.DISCOUNT_PRICE)
					WHEN THIRD_CAL.SHOP_TYPE = 2 THEN (THIRD_CAL.ORDER_PRICE)
					ELSE THIRD_CAL.PRODUCT_PRICE*THIRD_CAL.QUANTITY
				END) AS CAL_PRICE,	
				(CASE 
					WHEN THIRD_CAL.SHOP_TYPE IN (2, 3, 4) THEN THIRD_CAL.ORDER_PRICE-THIRD_CAL.DISCOUNT_PRICE
					ELSE THIRD_CAL.ORDER_PRICE
				END) AS ORDER_PRICE
			FROM (
    	</if>
    	<if test='salesGraphFlag != null and salesGraphFlag == "tab3_top10"'> <!-- 통합정보 > 상품분석(TOP 10 매출상품) -->
   		SELECT
			RESULT_TB.PRODUCT_NAME,
			SUM(RESULT_TB.ORDER_PRICE) AS SUM_PRICE,
			SUM(RESULT_TB.QUANTITY) AS SUM_QUANTITY
		FROM (
    	</if>
    	<if test='salesFlag != null and salesFlag.equals("sum")'> <!-- 매출정보 매출 > 합계 -->
   		SELECT
   			IFNULL(TOTAL_COUNT, 0) AS TOTAL_COUNT,
   			IFNULL(SUM(RESULT_TB.QUANTITY), 0) AS QUANTITY,
			IFNULL(SUM(RESULT_TB.ORDER_PRICE), 0) AS ORDER_PRICE,
			COUNT(DISTINCT RESULT_TB.BASKET_PAYMENT_NO) AS CNT
		FROM (
		</if>
        <if test='salesFlag == "excelSales"'>
    	SELECT
    		RESULT_TB.SHOP,
            RESULT_TB.ORDERED_AT AS STD_DATE,
            IFNULL(RESULT_TB.STATUS, "-") AS STATUS,
            RESULT_TB.ORDER_NO,
			IFNULL(RESULT_TB.PRODUCT_NO, "-") AS PRODUCT_NO,
            IFNULL(RESULT_TB.PRODUCT_NAME, "-") AS PRODUCT_NAME,
			IFNULL(RESULT_TB.QUANTITY,0) AS QUANTITY,
            IFNULL(RESULT_TB.ORDER_PRICE,0) AS ORDER_PRICE -- 주문금액
            , IF(RESULT_TB.SHOP_TYPE = 4, ROUND(RESULT_TB.PRODUCT_PRICE/RESULT_TB.QUANTITY, 0),
				RESULT_TB.PRODUCT_PRICE) AS UNIT_PRICE -- 판매단가는 11번가만 판매가/수량 해야 판매단가
			, IF(RESULT_TB.SHOP_TYPE = 4, RESULT_TB.PRODUCT_PRICE,
				RESULT_TB.PRODUCT_PRICE*RESULT_TB.QUANTITY) AS SALES_PRICE -- 판매금액은 11번가 외로는 판매가*수량
			, IFNULL(RESULT_TB.MANAGE_CODE, "-") AS MANAGE_CODE -- 내부관리코드
            , IFNULL(RESULT_TB.DELIVERY_COMPANY_NAME, "-") AS DELIVERY_COMPANY_NAME -- 택배사
			, IFNULL(RESULT_TB.INVOICE_NO, "-") AS INVOICE_NO -- 송장번호
			, IFNULL(RESULT_TB.CUSTOM_NAME, "-") AS CUSTOM_NAME -- 구매자명
			, IFNULL(RESULT_TB.CUSTOM_ID, "-") AS CUSTOM_ID -- 구매자 아이디
			, IFNULL(RESULT_TB.DELIVERED_DATE, "-") AS DELIVERED_DATE -- 배송완료일자
			, IFNULL(RESULT_TB.CONFIRM_DATE, "-") AS CONFIRM_DATE -- 구매확정
    	FROM(
    	</if>
    	<if test='salesFlag == "excelSum"'>
    	SELECT
    		IFNULL(COUNT(*),0) AS ORDER_COUNT,
            RESULT_TB.SHOP,
            IFNULL(SUM(RESULT_TB.QUANTITY),0) AS QUANTITY,
            IFNULL(SUM(RESULT_TB.ORDER_PRICE), 0) AS ORDER_PRICE
    	FROM(
    	</if>
    	<if test='salesFlag == "excelPromo"'>
		SELECT
			THIRD_CAL.ORDERED_AT AS STD_DATE,
			THIRD_CAL.SHOP,
			THIRD_CAL.ORDER_NO,
			THIRD_CAL.PRODUCT_NO,
			THIRD_CAL.PRODUCT_NAME,
			THIRD_CAL.PRODUCT_PRICE,
			THIRD_CAL.QUANTITY AS QUANTITY,
			IFNULL(SUM(IF(THIRD_CAL.SHOP_TYPE = 4, THIRD_CAL.PRODUCT_PRICE, THIRD_CAL.PRODUCT_PRICE*THIRD_CAL.QUANTITY)), 0) AS SALE_PRICE,
			THIRD_CAL.ORDER_PRICE AS ORDER_PRICE, 
			IFNULL(ROUND(100 *(IFNULL(IF(THIRD_CAL.SHOP_TYPE = 4, THIRD_CAL.ORDER_PRICE, THIRD_CAL.PRODUCT_PRICE*THIRD_CAL.QUANTITY), 0)-THIRD_CAL.ORDER_PRICE)/ IFNULL(SUM(IF(THIRD_CAL.SHOP_TYPE = 4, THIRD_CAL.ORDER_PRICE, THIRD_CAL.PRODUCT_PRICE*THIRD_CAL.QUANTITY)), 0)), 0) AS RATE
		FROM (
		</if>
    	<if test='salesFlag == "excelPromoSum"'>
		SELECT
			THIRD_CAL.SHOP,
			IFNULL(SUM(THIRD_CAL.PRODUCT_PRICE), 0) AS PRODUCT_PRICE,
			IFNULL(SUM(THIRD_CAL.QUANTITY), 0) AS QUANTITY,
			IFNULL(SUM(IF(THIRD_CAL.SHOP_TYPE = 4, THIRD_CAL.PRODUCT_PRICE,
					THIRD_CAL.PRODUCT_PRICE*THIRD_CAL.QUANTITY)), 0) AS SALE_PRICE,
			IFNULL(SUM(THIRD_CAL.ORDER_PRICE), 0) AS ORDER_PRICE,
			IFNULL(ROUND(100*(IFNULL(SUM(IF(THIRD_CAL.SHOP_TYPE = 4, THIRD_CAL.PRODUCT_PRICE, 
					THIRD_CAL.PRODUCT_PRICE*THIRD_CAL.QUANTITY)), 0)-SUM(THIRD_CAL.ORDER_PRICE))/IFNULL(SUM(IF(THIRD_CAL.SHOP_TYPE = 4, THIRD_CAL.PRODUCT_PRICE,
					THIRD_CAL.PRODUCT_PRICE*THIRD_CAL.QUANTITY)), 0)), 0) AS RATE
		FROM (
    	</if>
    	SELECT
	    	<if test='salesFlag != null and salesFlag == "tableList"'> <!-- 매출정보 > 목록 -->
    		sum(SECOND_CAL.ORDER_PRICE) AS sum_ORDER_PRICE,
    		sum(SECOND_CAL.QUANTITY) AS sum_QUANTITY,
    		COUNT(SECOND_CAL.UNIQUE_OPTION) AS sum_COUNT,
	    	</if>
    	<![CDATA[
    		FOUND_ROWS() AS TOTAL_COUNT,
    		SECOND_CAL.*
    	FROM (
	   		SELECT
				@sales_row_no := @sales_row_no + 1 AS RNUM,
				FIRST_CAL.*
			FROM (
				SELECT
					1 AS SHOP_TYPE,
					'인터파크' AS SHOP,
					SHOP_ID,
					CONCAT(ORDER_NO, PRODUCT_NO, OPTION_PRODUCT_NO) AS UNIQUE_OPTION,
					IF(SETTLEMENT_STATUS = '-',
						IF(ORDER_STATUS = '주문' OR ORDER_STATUS = '신규주문확인요청', '주문완료',
							IF(ORDER_STATUS = '발송완료', '배송중', ORDER_STATUS)),
					IF(SETTLEMENT_STATUS = '정산예정', '배송완료', SETTLEMENT_STATUS)) AS STATUS,
					DATE_FORMAT(ORDERED_AT, '%Y-%m-%d') AS ORDERED_AT,
					DATE_FORMAT(ORDERED_AT, '%Y-%m-%d') AS ORDERED_AT_TIME,
					IF(DELIVERED_DATE IS NULL, '-', DATE_FORMAT(DELIVERED_DATE, '%Y-%m-%d')) AS DELIVERED_DATE,
					IF(CONFIRM_DATE IS NULL, '-', DATE_FORMAT(CONFIRM_DATE, '%Y-%m-%d')) AS CONFIRM_DATE,
					ORDER_NO AS BASKET_PAYMENT_NO,
					'-' AS PRODUCT_ORDER_NO,
					ORDER_NO,
					PRODUCT_NO,
					PRODUCT_NAME,
					PRODUCT_PRICE,
					QUANTITY,
					0 AS OPTION_PRICE,
					ORDER_PRICE,
					0 AS DISCOUNT_PRICE,
					SHIPPING_PRICE_TOTAL AS SHIPPING_PRICE,
					IF(TRIM(DELIVERY_COMPANY_NAME) = '', '-', DELIVERY_COMPANY_NAME) AS DELIVERY_COMPANY_NAME,
					IF(TRIM(INVOICE_NUMBER) = '', '-', INVOICE_NUMBER) AS INVOICE_NO,
					DELIVERY_CHARGE_TYPE,
					ORDERER_NAME AS CUSTOM_NAME,
					ORDERER_ID AS CUSTOM_ID,
					ORDERER_CONTACT AS CUSTOM_PHONE,
					RECEIVER_NAME,
					RECEIVER_CONTACT1 AS RECEIVER_CONTACT1,
					RECEIVER_CONTACT2 AS RECEIVER_PHONE,
					IFNULL(RECEIVER_ADDR, '-') AS RECEIVER_ADDR,
					IFNULL(ZIP_CODE, '-') AS ZIP_CODE,
					IF(SELLER_OPTION_PRODUCT_CODE IS NULL OR TRIM(SELLER_OPTION_PRODUCT_CODE) = '',
						IF(SELLER_PRODUCT_CODE IS NULL OR TRIM(SELLER_PRODUCT_CODE) = '',
							'-',
						SELLER_PRODUCT_CODE),
					SELLER_OPTION_PRODUCT_CODE) AS MANAGE_CODE
				FROM CBCI_INTERPARK_SALES
				WHERE SHOP_ID REGEXP (#{INTERPARK_ID})
				AND ORDERED_AT >= #{fromDate}
				AND ORDERED_AT <= #{toDate}
				UNION ALL
				SELECT
					2 AS SHOP_TYPE,
					'지마켓' AS SHOP,
					SHOP_ID,
					CONCAT(ORDER_NO, PRODUCT_NO) AS UNIQUE_OPTION,
					IF(SETTLEMENT_STATUS IS NULL || SETTLEMENT_STATUS='', 
						IF(DELIVERY_STATUS IS NULL || DELIVERY_STATUS='',
							'주문완료', DELIVERY_STATUS), SETTLEMENT_STATUS) AS STATUS,
					DATE_FORMAT(ORDERED_AT, '%Y-%m-%d') AS ORDERED_AT,
					DATE_FORMAT(ORDERED_AT, '%Y-%m-%d(%H:%i:%s)') AS ORDERED_AT_TIME,
					IF(DELIVERED_DATE = '', '-', DATE_FORMAT(DELIVERED_DATE, '%Y-%m-%d')) AS DELIVERED_DATE,
					IF(CONFIRM_DATE = '', '-', DATE_FORMAT(CONFIRM_DATE, '%Y-%m-%d')) AS CONFIRM_DATE,
					BASKET_PAYMENT_NO,
					ORDER_NO AS PRODUCT_ORDER_NO,
					ORDER_NO,
					PRODUCT_NO,
					PRODUCT_NAME,
					ORDER_PRICE AS PRODUCT_PRICE,
					QUANTITY,
					0 AS OPTION_PRICE,
					ORDER_PRICE,
					PURCHASE_COUPON_PRICE+SELLER_DISCOUNT_PRICE+SMILE_CASH AS DISCOUNT_PRICE,
					SHIPPING_PRICE_TOTAL AS SHIPPING_PRICE,
					IF(DELIVERY_COMPANY_NAME IS NULL OR TRIM(DELIVERY_COMPANY_NAME) = '', '-', DELIVERY_COMPANY_NAME)  AS DELIVERY_COMPANY_NAME,
					IF(INVOICE_NUMBER IS NULL OR TRIM(INVOICE_NUMBER) = '', '-', INVOICE_NUMBER) AS INVOICE_NO,
					IFNULL(DELIVERY_CHARGE_TYPE, '-') AS DELIVERY_CHARGE_TYPE,
					IF(TRIM(ORDERER_NAME) = '', '-', ORDERER_NAME) AS CUSTOM_NAME,
					IF(TRIM(ORDERER_ID) = '', '-', ORDERER_ID) AS CUSTOM_ID,
					IF(TRIM(ORDERER_CONTACT) = '', '-', ORDERER_CONTACT) AS CUSTOM_PHONE,
					RECEIVER_NAME,
					RECEIVER_CONTACT1 AS RECEIVER_CONTACT1,
					RECEIVER_CONTACT2 AS RECEIVER_PHONE,
					IFNULL(RECEIVER_ADDR, '-') AS RECEIVER_ADDR,
					IFNULL(ZIP_CODE, '-') AS ZIP_CODE,
					IF(SELLER_MANAGE_CODE_DETAIL IS NULL OR TRIM(SELLER_MANAGE_CODE_DETAIL) = '',
						IF(SELLER_MANAGE_CODE IS NULL OR TRIM(SELLER_MANAGE_CODE),
							'-',
						SELLER_MANAGE_CODE),
					SELLER_MANAGE_CODE_DETAIL) AS MANAGE_CODE
				FROM CBCI_GMARKET_SALES
				WHERE SHOP_ID REGEXP (#{GMARKET_ID})
				AND ORDERED_AT >= #{fromDate}
				AND ORDERED_AT <= #{toDate}
				UNION ALL
				SELECT
					3 AS SHOP_TYPE,
					'옥션' AS SHOP,
					SHOP_ID,
					CONCAT(ORDER_NO, PRODUCT_NO) AS UNIQUE_OPTION,
					IF(SETTLEMENT_STATUS = '', IF(DELIVERY_STATUS = '', '주문완료', DELIVERY_STATUS), SETTLEMENT_STATUS) AS STATUS,
					DATE_FORMAT(ORDERED_AT, '%Y-%m-%d') AS ORDERED_AT,
					DATE_FORMAT(ORDERED_AT, '%Y-%m-%d(%H:%i:%s)') AS ORDERED_AT_TIME,
					IF(DELIVERED_DATE = '', '-', DATE_FORMAT(DELIVERED_DATE, '%Y-%m-%d')) AS DELIVERED_DATE,
					IF(CONFIRM_DATE = '', '-', DATE_FORMAT(CONFIRM_DATE, '%Y-%m-%d')) AS CONFIRM_DATE,
					BASKET_PAYMENT_NO,
					ORDER_NO AS PRODUCT_ORDER_NO,
					ORDER_NO,
					PRODUCT_NO,
					PRODUCT_NAME,
					PRODUCT_PRICE,
					QUANTITY,
					0 AS OPTION_PRICE,
					ORDER_PRICE,
					SELLER_DISCOUNT_PRICE+EXCELLENT_MEM_DISCOUNT+SMILE_CASH AS DISCOUNT_PRICE,
					SHIPPING_PRICE_TOTAL AS SHIPPING_PRICE,
					IF(DELIVERY_COMPANY_NAME IS NULL OR TRIM(DELIVERY_COMPANY_NAME) = '', '-', DELIVERY_COMPANY_NAME)  AS DELIVERY_COMPANY_NAME,
					IF(INVOICE_NUMBER IS NULL OR TRIM(INVOICE_NUMBER) = '', '-', INVOICE_NUMBER) AS INVOICE_NO,
					IFNULL(DELIVERY_CHARGE_TYPE, '-') AS DELIVERY_CHARGE_TYPE,
					IF(TRIM(ORDERER_NAME) = '', '-', ORDERER_NAME) AS CUSTOM_NAME,
					IF(TRIM(ORDERER_ID) = '', '-', ORDERER_ID) AS CUSTOM_ID,
					ORDERER_CONTACT AS CUSTOM_PHONE,
					RECEIVER_NAME,
					RECEIVER_CONTACT1 AS RECEIVER_CONTACT1,
					RECEIVER_CONTACT2 AS RECEIVER_PHONE,
					IFNULL(RECEIVER_ADDR, '-') AS RECEIVER_ADDR,
					IFNULL(ZIP_CODE, '-') AS ZIP_CODE,
					IF(SELLER_MANAGE_CODE_DETAIL IS NULL OR TRIM(SELLER_MANAGE_CODE_DETAIL) = '',
						IF(SELLER_MANAGE_CODE IS NULL OR TRIM(SELLER_MANAGE_CODE),
							'-',
						SELLER_MANAGE_CODE),
					SELLER_MANAGE_CODE_DETAIL) AS MANAGE_CODE
				FROM CBCI_AUCTION_SALES
				WHERE SHOP_ID REGEXP (#{AUCTION_ID})
				AND ORDERED_AT >= #{fromDate}
				AND ORDERED_AT <= #{toDate}
				UNION ALL
				SELECT -- 선결제 배송비 합치기 불가
					4 AS SHOP_TYPE,
					'11번가' AS SHOP,
					SHOP_ID,
					CONCAT(주문번호, 주문순번, 상품번호, 선결제배송비) AS UNIQUE_OPTION,
					IF(주문상태 = '결제완료' OR 주문상태 = '발주확인' OR 주문상태 = '배송지입력대기', '주문완료',
						IF(주문상태 = '발송완료', '배송중', 주문상태)) AS STATUS,
					DATE_FORMAT(결제완료일, '%Y-%m-%d') AS ORDERED_AT,
					DATE_FORMAT(결제완료일, '%Y-%m-%d') AS ORDERED_AT_TIME,
					IF(배송완료일 = '', '-', DATE_FORMAT(배송완료일 , '%Y-%m-%d')) AS DELIVERY_DATE,
					IF(수취확인일 = '', '-', DATE_FORMAT(수취확인일 , '%Y-%m-%d')) AS CONFIRM_DATE,
					주문번호 AS BASKET_PAYMENT_NO,
					'-' AS PRODUCT_ORDER_NO,
					주문번호 AS ORDER_NO,
					상품번호 AS PRODUCT_NO,
					상품명 AS PRODUCT_NAME,
					판매가 AS PRODUCT_PRICE, -- 옵션가 제외
					수량 AS QUANTITY,
					옵션가 AS OPTION_PRICE,
					판매금액합계 AS ORDER_PRICE, -- 배송비정보 없음(선결제 배송비있는데...)
					할인쿠폰이용료+복수구매할인비용+판매자부담카드추가할인+공제_스토어묶음쿠폰할인+후불광고비 AS DISCOUNT_PRICE,
					선결제배송비 AS SHIPPING_PRICE,
					'-' AS DELIVERY_COMPANY_NAME,
					송장번호 AS INVOICE_NO,
					'-' AS DELIVERY_CHARGE_TYPE, -- 데이터 없음
					구매자명 AS CUSTOM_NAME,
					구매자ID AS CUSTOM_ID,
					'-' AS CUSTOM_PHONE,
					'-' AS RECEIVER_NAME,
					'-' AS RECEIVER_CONTACT1,
					'-' AS RECEIVER_PHONE,
					'-' AS RECEIVER_ADDR,
					'-' AS ZIP_CODE,
					'-' AS MANAGE_CODE -- 데이터 없음
				FROM CBCI_11ST_SALEACCNT
				WHERE SHOP_ID REGEXP (#{ELEVEN_ID})
				AND 주문상태 NOT IN ('구매확정후주문취소','반품완료','취소처리중','클레임진행중')
				AND DATE_FORMAT(결제완료일, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}
				UNION ALL
				SELECT
					11 AS SHOP_TYPE,
					'쿠팡' AS SHOP,
					SHOP_ID,
					CONCAT(order_id, vendor_item_id) AS UNIQUE_OPTION,
					IF(settlement_date IS NOT NULL, '정산완료',
						IF(confirm_date <> '', '구매확정',
							IF(status = 'ACCEPT' OR status = 'INSTRUCT' OR status = 'DEPARTURE', '주문완료',
								IF(status = 'DELIVERING' OR status = 'NONE_TRACKING', '배송중',
									IF(status = 'FINAL_DELIVERY', '배송완료', status))))) AS STATUS,
					DATE_FORMAT(ordered_at, '%Y-%m-%d') AS ORDERED_AT,
					DATE_FORMAT(ordered_at, '%Y-%m-%d(%H:%i:%s)') AS ORDERED_AT_TIME,
					IF(delivered_date = '' OR delivered_date IS NULL, '-', DATE_FORMAT(delivered_date, '%Y-%m-%d')) AS DELIVERED_DATE,
					IF(confirm_date = '', '-', DATE_FORMAT(confirm_date, '%Y-%m-%d')) AS CONFIRM_DATE,
					order_id AS BASKET_PAYMENT_NO,
					'-' AS PRODUCT_ORDER_NO,
					order_id AS ORDER_NO,
					seller_product_id AS PRODUCT_NO,
					seller_product_name AS PRODUCT_NAME,
					sales_price AS PRODUCT_PRICE,
					shipping_count AS QUANTITY,
					0 AS OPTION_PRICE,
					order_price AS ORDER_PRICE,
					discount_price AS DISCOUNT_PRICE,
					shipping_price AS SHIPPING_PRICE,
					IF(TRIM(delivery_company_name) = '', '-', delivery_company_name) AS DELIVERY_COMPANY_NAME,
					IF(TRIM(invoice_number) = '', '-', invoice_number) AS INVOICE_NO,
					delivery_charge_type AS DELEVERY_CHARGE_TYPE,
					orderer_name AS CUSTOMER_NAME,
					orderer_email AS CUSTOMER_ID,
					'-' AS CUSTOM_PHONE,
					receiver_name AS RECEIVER_NAME,
					receiver_safe_number AS RECEIVER_CONTACT1,
					receiver_safe_number AS RECEIVER_PHONE,
					CONCAT(receiver_addr1, receiver_addr2) AS RECEIVER_ADDR,
					receiver_post_code AS ZIP_CODE,
					IF(external_vendor_sku_code IS NULL OR TRIM(external_vendor_sku_code) = '',
						IF(external_seller_sku_code IS NULL OR TRIM(external_seller_sku_code) = '',
							'-',
						external_seller_sku_code),
					external_vendor_sku_code) AS MANAGE_CODE
				FROM CBCI_COUPANG_SALES
				WHERE SHOP_ID = #{COUPANG_ID}
				AND ordered_at >= #{fromDate}
				AND ordered_at <= #{toDate}
				AND status IN ('ACCEPT','DELIVERING','DEPARTURE','FINAL_DELIVERY','INSTRUCT','NONE_TRACKING')
				AND sale_type IN ('', 'SALE')
				UNION ALL
				SELECT
					14 AS SHOP_TYPE,
					'네이버' AS SHOP,
					SHOP_ID,
					CONCAT(PRODUCT_ORDER_NO, ORDER_NO, PRODUCT_NO) AS UNIQUE_OPTION,
					IF(ORDER_STATUS = '' OR ORDER_STATUS = '발송대기', '주문완료', 
						IF(ORDER_STATUS = '정산' OR ORDER_STATUS = '일반정산' OR ORDER_STATUS = '빠른정산', '정산완료', ORDER_STATUS)) AS STATUS,
					IF(PAID_AT IS NULL, '-', DATE_FORMAT(PAID_AT, '%Y-%m-%d')) AS ORDERED_AT,
					IF(PAID_AT IS NULL, '-', DATE_FORMAT(PAID_AT, '%Y-%m-%d(%H:%i:%s)')) AS ORDERED_AT_TIME,
					IF(DELIVERED_DATE = '', '-', DATE_FORMAT(DELIVERED_DATE , '%Y-%m-%d')) AS DELIVERED_DATE,
					IF(CONFIRM_DATE = '', IF(AUTO_CONFIRM_DATE = '', '-', DATE_FORMAT(AUTO_CONFIRM_DATE, '%Y-%m-%d')), DATE_FORMAT(CONFIRM_DATE, '%Y-%m-%d')) AS CONFIRM_DATE,
					ORDER_NO AS BASKET_PAYMENT_NO,
					PRODUCT_ORDER_NO,
					ORDER_NO,
					PRODUCT_NO AS PRODUCT_NO,
					IFNULL(PRODUCT_NAME, '-') AS PRODUCT_NAME,
					IFNULL(PRODUCT_PRICE, 0)+IFNULL(OPTION_PRICE, 0) AS PRODUCT_PRICE, -- 판매금액은 옵션가를 포함
					IFNULL(QUANTITY, 0) AS QUANTITY,
					0 AS OPTION_PRICE,
					ORDER_PRICE,
					0 AS DISCOUNT_PRICE,
					SHIPPING_PRICE_TOTAL AS SHIPPING_PRICE,
					IF(DELIVERY_COMPANY_NAME IS NULL OR TRIM(DELIVERY_COMPANY_NAME) = '', '-', DELIVERY_COMPANY_NAME) AS DELIVERY_COMPANY_NAME,
					IFNULL(INVOICE_NUMBER, '-') AS INVOICE_NO,
					DELIVERY_CHARGE_TYPE,
					IFNULL(ORDERER_NAME, '-') AS CUSTOM_NAME,
					IFNULL(ORDERER_ID, '-') AS CUSTOM_ID,
					ORDERER_CONTACT AS CUSTOM_PHONE,
					RECEIVER_NAME,
					RECEIVER_CONTACT1 AS RECEIVER_CONTACT1,
					RECEIVER_CONTACT2 AS RECEIVER_PHONE,
					IFNULL(RECEIVER_ADDR, '-') AS RECEIVER_ADDR,
					IFNULL(ZIP_CODE, '-') AS ZIP_CODE,
					IF(OPTION_MANAGE_CODE IS NULL OR TRIM(OPTION_MANAGE_CODE) = '',
						IF(SELLER_PRODUCT_CODE IS NULL OR TRIM(SELLER_PRODUCT_CODE) = '',
							'-',
						SELLER_PRODUCT_CODE),
					OPTION_MANAGE_CODE) AS MANAGE_CODE
				FROM CBCI_NAVER_SALES
				WHERE SHOP_ID REGEXP (#{NAVER_ID})
				AND PAID_AT >= #{fromDate}
				AND PAID_AT <= #{toDate}
				AND ORDER_STATUS IN ('발송대기', '배송중', '배송완료', '빠른정산', '구매확정', '정산', '일반정산')
			) FIRST_CAL, (SELECT @sales_row_no := 0) SALES_ROW_NO
			WHERE FIRST_CAL.SHOP_TYPE IN (${SHOP_TYPE_LIST})
			AND PRODUCT_NAME like #{PRODUCT_NAME}
			]]>
			<if test='STATUS != null and STATUS != "-"'>
			AND STATUS = #{STATUS}
			</if>
			ORDER BY FIRST_CAL.${ORDER_BY}, FIRST_CAL.ORDER_NO
		) SECOND_CAL
		<if test='salesGraphFlag != null and salesGraphFlag == "dailySum"'> <!-- 통합정보 > 당월현황 -->
		) RESULT_TB
   		GROUP BY RESULT_TB.ORDERED_AT
   		ORDER BY RESULT_TB.ORDERED_AT
    	</if>
		<if test='salesGraphFlag != null and salesGraphFlag == "dailyShopSum"'> <!-- 통합정보 > 매출분석 -->
			) COMBINE_TB
			GROUP BY COMBINE_TB.SHOP, COMBINE_TB.ORDERED_AT
			ORDER BY COMBINE_TB.ORDERED_AT
		) RESULT_TB
		GROUP BY RESULT_TB.ORDERED_AT
		</if>
    	<if test='salesGraphFlag != null and salesGraphFlag == "tab3_promotion"'> <!-- 통합정보 > 상품분석(쇼핑몰 판매비중, 쇼핑몰 가격할인 및 판촉) -->
	    	) THIRD_CAL
		) RESULT_TB
		GROUP BY RESULT_TB.SHOP
		ORDER BY RESULT_TB.SHOP_TYPE
		</if>
    	<if test='salesGraphFlag != null and salesGraphFlag == "tab3_top10"'> <!-- 통합정보 > 상품분석(TOP 10 매출상품) -->
   		) RESULT_TB
		GROUP BY RESULT_TB.PRODUCT_NAME
		ORDER BY ${STANDARD} DESC
		LIMIT 10
    	</if>
		<if test='salesFlag != null and salesFlag == "tableList"'> <!-- 매출정보 > 목록 -->
		GROUP BY SECOND_CAL.BASKET_PAYMENT_NO
		ORDER BY SECOND_CAL.${ORDER_BY}, SECOND_CAL.ORDER_NO
		LIMIT ${LIMIT}
    	</if>
    	<if test='salesFlag != null and salesFlag.equals("sum")'>
    	) RESULT_TB
    	</if>
		<if test='FLAG == "orderDetail" and FLAG != NULL'> <!-- 매출정보 > 상세주문번호 -->
		WHERE BASKET_PAYMENT_NO = #{ORDER_NO}
		</if>
		<if test='salesFlag != null and salesFlag == "excelSales"'>
		) RESULT_TB
		</if>
		<if test='salesFlag != null and salesFlag == "excelSum"'>
		) RESULT_TB
		GROUP BY SHOP
		ORDER BY SHOP
		</if>
		<if test='salesFlag != null and salesFlag == "excelPromo"'>
		) THIRD_CAL
		WHERE QUANTITY != 0
		GROUP BY STD_DATE, UNIQUE_OPTION
		ORDER BY STD_DATE, SHOP
		</if>
		<if test=' salesFlag != null and salesFlag == "excelPromoSum"'>
        ) THIRD_CAL
   		WHERE QUANTITY != 0
		GROUP BY SHOP
		ORDER BY SHOP
		</if>
    </select>
    
    <!-- 반품 목록 -->
    <select id="selectReturnList" parameterType="hashmap" resultType="hashmap">
    	<if test='returnGraphFlag != null and returnGraphFlag == "dailySum"'> <!-- 통합정보 > 매출분석 -->
		SELECT
			RESULT_TB.REQUEST_DATE AS STD_DATE,
			RESULT_TB.DIVISION AS DIVISION,
			IFNULL(SUM(RESULT_TB.ORDER_PRICE), 0) AS PRICE,
			IFNULL(SUM(RESULT_TB.QUANTITY), 0) AS QUANTITY
		FROM (
    	</if>
    	<if test='returnFlag != null and returnFlag.equals("sum")'> <!-- 매출정보 반품 > 합계 -->
   		SELECT
			RESULT_TB.DIVISION,
			COUNT(*) AS TOTAL_COUNT,
			IFNULL(SUM(RESULT_TB.QUANTITY), 0) AS QUANTITY,
			IFNULL(SUM(RESULT_TB.ORDER_PRICE), 0) AS ORDER_PRICE
		FROM (
		</if>
		<if test='returnFlag != null and returnFlag == "excelReturn"'> <!-- 통합정보 > 매출분석 -->
		SELECT
			RESULT_TB.ORDERED_AT AS STD_DATE, -- 주문일자
			RESULT_TB.SHOP,
			RESULT_TB.DIVISION AS DIVISION,
	        RESULT_TB.ORDER_NO,
	        IFNULL(RESULT_TB.PRODUCT_NO, "-") AS PRODUCT_NO,
			RESULT_TB.UNIQUE_OPTION,
	        IFNULL(RESULT_TB.PRODUCT_NAME, "-") AS PRODUCT_NAME,
			IFNULL(RESULT_TB.ORDER_PRICE, 0) AS ORDER_PRICE,
			IFNULL(RESULT_TB.QUANTITY, 0) AS QUANTITY
			, RESULT_TB.REQUEST_DATE
			, RESULT_TB.DELIVERED_DATE -- 배송완료일
			, IFNULL(RESULT_TB.INVOICE_NO, "-") AS INVOICE_NO -- 송장번호
			, IFNULL(RESULT_TB.COLLECTION_INVOICE_NO, "-") AS COLLECTION_INVOICE_NO -- 수거송장번호
			, IFNULL(RESULT_TB.REDELIVERY_INVOICE_NO, "-") AS REDELIVERY_INVOICE_NO -- 재배송송장번호
			, IFNULL(RESULT_TB.CUSTOM_ID, "-") AS CUSTOM_ID -- 구매자 아이디
			, IFNULL(RESULT_TB.CUSTOM_NAME, "-") AS CUSTOM_NAME -- 구매자명
			, IFNULL(RESULT_TB.RECEIVER_NAME, "-") AS RECEIVER_NAME -- 수령자
		FROM (
    	</if>
    	<if test='returnFlag != null and returnFlag == "excelSum"'> <!-- 통합정보 > 매출분석 -->
		SELECT
			RESULT_TB.SHOP,
			RESULT_TB.DIVISION AS DIVISION,
			IFNULL(SUM(RESULT_TB.ORDER_PRICE), 0) AS PRICE,
			IFNULL(SUM(RESULT_TB.QUANTITY), 0) AS QUANTITY
		FROM (
    	</if>
    	<![CDATA[
    	SELECT
    		FOUND_ROWS() AS TOTAL_COUNT,
			SECOND_CAL.*
		FROM (
			SELECT
				@return_row_no := @return_row_no + 1 AS RNUM,
				FIRST_CAL.*
			FROM (
				SELECT
					1 AS SHOP_TYPE,
					'인터파크' AS SHOP,
					CIRE.SHOP_ID,
					CIRE.DIVISION,
					CIRE.STATE AS STATUS,
					CONCAT(CIRE.ORDER_NO, CIRE.ORDER_SEQ, CIRE.PRODUCT_NO) AS UNIQUE_OPTION,
					IF(CIS.ORDERED_AT IS NULL, '-', DATE_FORMAT(CIS.ORDERED_AT, '%Y-%m-%d')) AS ORDERED_AT,
					IF(CIS.ORDERED_AT IS NULL, '-', DATE_FORMAT(CIS.ORDERED_AT, '%Y-%m-%d')) AS ORDERED_AT_TIME,
					IF(CIS.DELIVERED_DATE IS NULL, '-', DATE_FORMAT(CIS.DELIVERED_DATE, '%Y-%m-%d')) AS DELIVERED_DATE,
					DATE_FORMAT(CIRE.REG_DATE, '%Y-%m-%d') AS REQUEST_DATE,
					CIRE.ORDER_NO,
					CIRE.PRODUCT_NO,
					CIRE.PRODUCT_NM AS PRODUCT_NAME,
					CIRE.ORDER_PRICE,
					CIRE.QUANTITY,
					CIRE.BUYER_ID AS CUSTOM_ID,
					CIRE.BUYER_NM AS CUSTOM_NAME,
					CIRE.RECEIVER_NM AS RECEIVER_NAME,
					IFNULL(CIS.INVOICE_NUMBER, '-') AS INVOICE_NO,
					IF(CIRE.COLLECT_DEL_NO IS NULL OR TRIM(CIRE.COLLECT_DEL_NO) = '', '-', CIRE.COLLECT_DEL_NO) AS COLLECTION_INVOICE_NO,
					IF(CIRE.RE_DELIVERY_NO IS NULL OR TRIM(CIRE.RE_DELIVERY_NO) = '', '-', CIRE.RE_DELIVERY_NO) AS REDELIVERY_INVOICE_NO
				FROM CBCI_INTERPARK_RETURN_EXCHANGE CIRE
				LEFT JOIN CBCI_INTERPARK_SALES CIS
				ON CIRE.SHOP_ID = CIS.SHOP_ID AND CIRE.ORDER_NO = CIS.ORDER_NO AND CIRE.PRODUCT_NO = CIS.PRODUCT_NO
				WHERE CIRE.SHOP_ID REGEXP (#{INTERPARK_ID})
				AND REG_DATE >= #{fromDate}
				AND REG_DATE <= #{toDate}
				UNION ALL
				SELECT
					2 AS SHOP_TYPE,
					'지마켓' AS SHOP,
					CGRE.SHOP_ID,
					CGRE.DIVISION,
					CGRE.STATE AS STATUS,
					CONCAT(CGRE.ORDER_NO, CGRE.PRODUCT_NO) AS UNIQUE_OPTION,
					DATE_FORMAT(CGRE.ORDER_DATE, '%Y-%m-%d') AS ORDERED_AT,
					DATE_FORMAT(CGRE.ORDER_DATE, '%Y-%m-%d(%H:%i:%s)') AS ORDERED_AT_TIME,
					IF(TRIM(CGRE.DELIVERY_DATE) = '', '-', DATE_FORMAT(CGRE.DELIVERY_DATE, '%Y-%m-%d')) AS DELIVERED_DATE,
					DATE_FORMAT(CGRE.REG_DATE, '%Y-%m-%d') AS REQUEST_DATE,
					CGRE.ORDER_NO,
					CGRE.PRODUCT_NO,
					CGRE.PRODUCT_NM AS PRODUCT_NAME,
					CGRE.SALE_PRICE AS ORDER_PRICE,
					CGRE.QUANTITY,
					CGRE.BUYER_ID AS CUSTOM_ID,
					CGRE.BUYER_NM AS CUSTOM_NAME,
					IFNULL(CGS.RECEIVER_NAME, '-') AS RECEIVER_NAME,
					IFNULL(CGS.INVOICE_NUMBER, '-') AS INVOICE_NO,
					IF(CGRE.COLLECTED_DEL_NO IS NULL OR TRIM(CGRE.COLLECTED_DEL_NO) = '', '-', CGRE.COLLECTED_DEL_NO) AS COLLECTION_INVOICE_NO,
					IF(CGRE.RE_DELIVERY_NO IS NULL OR TRIM(CGRE.RE_DELIVERY_NO) = '', '-', CGRE.RE_DELIVERY_NO) AS REDELIVERY_INVOICE_NO
				FROM CBCI_GMARKET_RETURN_EXCHANGE CGRE
				LEFT JOIN CBCI_GMARKET_SALES CGS
				ON CGRE.SHOP_ID = CGS.SHOP_ID AND CGRE.ORDER_NO = CGS.ORDER_NO AND CGRE.PRODUCT_NO = CGS.PRODUCT_NO
				WHERE CGRE.SHOP_ID REGEXP (#{GMARKET_ID})
				AND REG_DATE >= #{fromDate}
				AND REG_DATE <= #{toDate}
				UNION ALL
				SELECT
					3 AS SHOP_TYPE,
					'옥션' AS SHOP,
					CARE.SHOP_ID,
					CARE.DIVISION,
					CARE.STATE AS STATUS,
					CONCAT(CARE.ORDER_NO, CARE.PRODUCT_NO) AS UNIQUE_OPTION,
					DATE_FORMAT(CARE.ORDER_DATE, '%Y-%m-%d') AS ORDERED_AT,
					DATE_FORMAT(CARE.ORDER_DATE, '%Y-%m-%d(%H:%i:%s)') AS ORDERED_AT_TIME,
					IF(TRIM(CARE.DELIVERY_DATE) = '', '-', DATE_FORMAT(CARE.DELIVERY_DATE, '%Y-%m-%d')) AS DELIVERED_DATE,
					DATE_FORMAT(CARE.REG_DATE, '%Y-%m-%d') AS REQUEST_DATE,
					CARE.ORDER_NO,
					CARE.PRODUCT_NO,
					CARE.PRODUCT_NM AS PRODUCT_NAME,
					CARE.SALE_PRICE AS ORDER_PRICE,
					CARE.QUANTITY,
					CARE.BUYER_ID AS CUSTOM_ID,
					CARE.BUYER_NM AS CUSTOM_NAME,
					IFNULL(CAS.RECEIVER_NAME, '-') AS RECEIVER_NAME,
					IFNULL(CAS.INVOICE_NUMBER, '-') AS INVOICE_NO,
					IF(CARE.COLLECTED_DEL_NO IS NULL OR TRIM(CARE.COLLECTED_DEL_NO) = '', '-', CARE.COLLECTED_DEL_NO) AS COLLECTION_INVOICE_NO,
					IF(CARE.RE_DELIVERY_NO IS NULL OR TRIM(CARE.RE_DELIVERY_NO) = '', '-', CARE.RE_DELIVERY_NO) AS REDELIVERY_INVOICE_NO
				FROM CBCI_AUCTION_RETURN_EXCHANGE CARE
				LEFT JOIN CBCI_AUCTION_SALES CAS
				ON CARE.SHOP_ID = CAS.SHOP_ID AND CARE.ORDER_NO = CAS.ORDER_NO AND CARE.PRODUCT_NO = CAS.PRODUCT_NO
				WHERE CARE.SHOP_ID REGEXP (#{AUCTION_ID})
				AND REG_DATE >= #{fromDate}
				AND REG_DATE <= #{toDate}
				UNION ALL
				SELECT
					4 AS SHOP_TYPE,
					'11번가' AS SHOP,
					CRE.SHOP_ID,
					CRE.DIVISION,
					CRE.STATE AS STATUS,
					CONCAT(CRE.ORDER_NO, CRE.ORDER_SEQ) AS UNIQUE_OPTION,
					IF(CS.결제완료일 IS NULL OR TRIM(CS.결제완료일) = '', '-', DATE_FORMAT(CS.결제완료일, '%Y-%m-%d')) AS ORDERED_AT,
					IF(CS.결제완료일 IS NULL OR TRIM(CS.결제완료일) = '', '-', DATE_FORMAT(CS.결제완료일, '%Y-%m-%d')) AS ORDERED_AT_TIME,
					IF(CS.배송완료일 IS NULL OR TRIM(CS.배송완료일) = '', '-', DATE_FORMAT(CS.배송완료일, '%Y-%m-%d')) AS DELIVERED_DATE,
					DATE_FORMAT(CRE.REG_DATE, '%Y-%m-%d') AS REQUEST_DATE,
					CRE.ORDER_NO,
					IFNULL(CS.상품번호, '-') AS PRODUCT_NO,
					CRE.PRODUCT_NM AS PRODUCT_NAME,
					CRE.ORDER_PRICE,
					CRE.RETURN_EXCHANGE_QUANTITY AS QUANTITY,
					CRE.BUYER_ID AS CUSTOM_ID,
					CRE.BUYER_NM AS CUSTOM_NAME,
					'-' AS RECEIVER_NAME, -- 11번가는 수취인 정보 없음
					IFNULL(CS.송장번호, '-') AS INVOICE_NO,
					IF(CRE.COLLECT_DEL_NUM IS NULL OR TRIM(CRE.COLLECT_DEL_NUM) = '', '-', CRE.COLLECT_DEL_NUM) AS COLLECTION_INVOICE_NO,
					IF(CRE.RE_DELIVERY_NO IS NULL OR TRIM(CRE.RE_DELIVERY_NO) = '', '-', CRE.RE_DELIVERY_NO) AS REDELIVERY_INVOICE_NO
				FROM CBCI_11ST_RETURN_EXCHANGE CRE
				LEFT JOIN CBCI_11ST_SALEACCNT CS
				ON CRE.SHOP_ID = CS.SHOP_ID AND CRE.ORDER_NO = CS.주문번호 AND CRE.ORDER_SEQ = CS.주문순번
				AND CS.선결제배송비 = 0 -- 배송비제외
				WHERE CRE.SHOP_ID REGEXP (#{ELEVEN_ID})
				AND REG_DATE >= #{fromDate}
				AND REG_DATE <= #{toDate}
				AND STATE NOT IN ('반품거부', '반품신청취소')
				UNION ALL
				SELECT
					11 AS SHOP_TYPE,
					'쿠팡' AS SHOP,
					CCR.SHOP_ID,
					IF(CCR.RECEIPT_TYPE = 'RETURN', '반품', CCR.RECEIPT_TYPE) AS DIVISION,
					CCR.RECEIPT_STATUS AS STATUS,
					CONCAT(CCR.ORDER_ID, CCR.VENDOR_ITEM_ID) AS UNIQUE_OPTION,
					IF(CCS.ordered_at IS NULL, '-', DATE_FORMAT(CCS.ordered_at, '%Y-%m-%d')) AS ORDERED_AT,
					IF(CCS.ordered_at IS NULL, '-', DATE_FORMAT(CCS.ordered_at, '%Y-%m-%d(%H:%i:%s)')) AS ORDERED_AT,
					IF(CCS.delivered_date IS NULL OR CCS.delivered_date = '', '-', DATE_FORMAT(CCS.delivered_date, '%Y-%m-%d')) AS DELIVERED_DATE,
					DATE_FORMAT(CCR.CREATED_AT, '%Y-%m-%d') AS REQUEST_DATE,
					CCR.ORDER_ID AS ORDER_NO,
					IFNULL(CCS.product_id, '-') AS PRODUCT_NO,
					IFNULL(CCS.vendor_item_name, '-') AS PRODUCT_NAME,
					IFNULL(CCS.order_price, 0) AS ORDER_PRICE,
					IFNULL(CCS.shipping_count, 0) AS QUANTITY,
					IFNULL(CCS.orderer_email, '-') AS CUSTOM_ID,
					IFNULL(CCS.orderer_name, '-') AS CUSTOM_NAME,
					IFNULL(CCS.receiver_name, '-') AS RECEIVER_NAME,
					IF(CCS.invoice_number IS NULL OR TRIM(CCS.invoice_number) = '', '-', CCS.invoice_number) AS INVOICE_NO,
					IF(CCR.DELIVERY_INVOICE_NO IS NULL OR TRIM(CCR.DELIVERY_INVOICE_NO) = '', '-', CCR.DELIVERY_INVOICE_NO) AS COLLECTION_INVOICE_NO,
					IF(CCR.REDELIVERY_INVOICE_NO IS NULL OR TRIM(CCR.REDELIVERY_INVOICE_NO) = '', '-', CCR.REDELIVERY_INVOICE_NO) AS REDELIVERY_INVOICE_NO
				FROM CBCI_COUPANG_RETURN CCR
				LEFT JOIN CBCI_COUPANG_SALES CCS
				ON CCR.SHOP_ID = CCS.SHOP_ID AND CCR.ORDER_ID = CCS.order_id AND CCR.VENDOR_ITEM_ID = CCS.vendor_item_id
				WHERE CCR.SHOP_ID = #{COUPANG_ID}
				AND CREATED_AT >= #{fromDate}
				AND CREATED_AT <= #{toDate}
				AND CCR.RECEIPT_TYPE <> '반품 철회'
				UNION ALL
				SELECT
					14 AS SHOP_TYPE,
					'네이버' AS SHOP,
					CNRE.SHOP_ID,
					CNRE.DIVISION,
					CNRE.STATE AS STATUS,
					CONCAT(CNRE.PRODUCT_ORDER_NO, CNRE.ORDER_NO) AS UNIQUE_OPTION,
					DATE_FORMAT(CNRE.PAID_AT, '%Y-%m-%d') AS ORDERED_AT,
					DATE_FORMAT(CNRE.PAID_AT, '%Y-%m-%d(%H:%i:%s)') AS ORDERED_AT_TIME,
					IF(CNS.DELIVERED_DATE IS NULL OR TRIM(CNS.DELIVERED_DATE) = '', '-', DATE_FORMAT(CNS.DELIVERED_DATE, '%Y-%m-%d')) AS DELIVERED_DATE,
					DATE_FORMAT(CNRE.REG_DATE, '%Y-%m-%d') AS REQUEST_DATE,
					CNRE.ORDER_NO,
					CNRE.PRODUCT_NO,
					CNRE.PRODUCT_NAME,
					CNRE.ORDER_PRICE,
					CNRE.QUANTITY,
					CNRE.ORDERER_ID AS CUSTOM_ID,
					CNRE.ORDERER_NAME AS CUSTOM_NAME,
					IFNULL(CNS.RECEIVER_NAME, '-') AS RECEIVER_NAME,
					CNRE.INVOICE_NUMBER AS INVOICE_NO,
					IF(CNRE.COLLECT_DEL_NO IS NULL OR TRIM(CNRE.COLLECT_DEL_NO) = '', '-', CNRE.COLLECT_DEL_NO) AS COLLECTION_INVOICE_NO,
					IF(CNRE.RE_DELIVERY_NO IS NULL OR TRIM(CNRE.RE_DELIVERY_NO) = '', '-', CNRE.RE_DELIVERY_NO) AS REDELIVERY_INVOICE_NO
				FROM CBCI_NAVER_RETURN_EXCHANGE CNRE
				LEFT JOIN CBCI_NAVER_SALES CNS
				ON CNRE.SHOP_ID = CNS.SHOP_ID AND CNRE.PRODUCT_ORDER_NO = CNS.PRODUCT_ORDER_NO AND CNRE.ORDER_NO = CNS.ORDER_NO 
				WHERE CNRE.SHOP_ID REGEXP (#{NAVER_ID})
				AND REG_DATE >= #{fromDate}
				AND REG_DATE <= #{toDate}
				AND STATE NOT IN ('반품철회', '교환철회')
			) FIRST_CAL, (SELECT @return_row_no := 0) RETURN_ROW_NO
			WHERE FIRST_CAL.SHOP_TYPE IN (${SHOP_TYPE_LIST})
			AND PRODUCT_NAME like #{PRODUCT_NAME}
			]]>
			<if test='STATUS != null and STATUS != "-"'>
			AND DIVISION = #{STATUS}
			</if>
			ORDER BY FIRST_CAL.${ORDER_BY}, FIRST_CAL.ORDER_NO
		) SECOND_CAL
		<if test='returnGraphFlag != null and returnGraphFlag == "dailySum"'> <!-- 통합정보 > 매출분석 -->
		) RESULT_TB
		GROUP BY RESULT_TB.REQUEST_DATE, RESULT_TB.DIVISION
		ORDER BY RESULT_TB.REQUEST_DATE, RESULT_TB.DIVISION
    	</if>
    	<if test='returnFlag != null and returnFlag == "tableList"'> <!-- 매출정보 반품 > 목록 -->
    	LIMIT ${LIMIT}
    	</if>
    	<if test='FLAG == "orderDetail" and FLAG != NULL'> <!-- 매출정보 > 상세주문번호 -->
		WHERE ORDER_NO = #{ORDER_NO}
		</if>
    	<if test='returnFlag != null and returnFlag.equals("sum")'> <!-- 매출정보 반품 > 합계 -->
    	) RESULT_TB
    	GROUP BY RESULT_TB.DIVISION
    	</if>
    	<if test='returnFlag != null and returnFlag == "excelReturn"'> <!-- 통합정보 > 매출분석 -->
    	) RESULT_TB
    	</if>
    	<if test='returnFlag != null and returnFlag == "excelSum"'> <!-- 통합정보 > 매출분석 -->
    	) RESULT_TB
		GROUP BY RESULT_TB.SHOP, RESULT_TB.DIVISION
		ORDER BY RESULT_TB.SHOP, RESULT_TB.DIVISION
    	</if>
    </select>
    
</mapper>
