<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.azon.front.invento.mapper.InventoMapper">

	<!-- [매칭코드] 전체 UserList -->
	<select id="selectUserList" resultType="hashmap" parameterType="hashmap">
		<![CDATA[
    		SELECT
				*
			FROM CBCI_USER
			WHERE 
				USER_TYPE = 2
				AND WITHDRAW_YN IS NULL
    	]]>
	</select>
	
	<!-- [큐빅아이코드] INPUT 날짜 별 마지막 코드 -->
	<select id="selectCubiciCodeLast" resultType="hashmap">
		SELECT
			${prdNo},
			IFNULL(CUBICI_CODE, "null") AS CUBICI_CODE,
			INPUT_DATE
		FROM
			(
		<if test="SHOP_TYPE != '11'">
			SELECT
				${prdNo}, 
				CUBICI_CODE,
				LEFT(INPUT_DATE, 10) AS INPUT_DATE
			FROM
				CBCI_${SHOP_NAME}_GOODS
		UNION
		</if>
			SELECT
				${prdNo},
				CUBICI_CODE,
				LEFT(INPUT_DATE, 10) AS INPUT_DATE
			FROM
				CBCI_${SHOP_NAME}_STOCK
			ORDER BY CUBICI_CODE DESC
			) CODE
		GROUP BY
			INPUT_DATE
	</select>
	
	<!-- [큐빅아이코드] 각 쇼핑몰 재고 테이블 중 CUBICI_CODE 없는 옵션 LIST -->
	<select id="selectStockProdcutList" resultType="hashmap">
		<if test='SHOP_TYPE == "01"'>
		SELECT
			CONCAT(PRODUCT_NO,OPTION1,OPTION2) AS UNIQUE_OPTION,
		</if>
		<if test='SHOP_TYPE == "02"'>
		SELECT
			CONCAT(PRODUCT_NO,OPTION1,OPTION2,OPTION3) AS UNIQUE_OPTION,
		</if>
		<if test='SHOP_TYPE == "03"'>
		SELECT
			CONCAT(ITEM_NO,OPTION1,OPTION2,OPTION3) AS UNIQUE_OPTION,
		</if>
		<if test='SHOP_TYPE == "04"'>
		SELECT
			CONCAT(PRODUCT_NO,MIX_DTL_OPT_NM) AS UNIQUE_OPTION,
		</if>
		<if test='SHOP_TYPE == "11"'>
		SELECT
			${prdNo} AS UNIQUE_OPTION,
		</if>
		<if test='SHOP_TYPE == "14"'>
		SELECT
			CONCAT(PRODUCT_NO, OPTION_NM_1, OPTION_NM_2, OPTION_NM_3) AS UNIQUE_OPTION,
		</if>
			CUBICI_CODE,
			LEFT(INPUT_DATE, 10) AS INPUT_DATE
		FROM CBCI_${SHOP_NAME}_STOCK
		WHERE LEFT(INPUT_DATE, 10) = #{inputDate}
		AND CUBICI_CODE IS NULL
		ORDER BY ${prdNo}, INPUT_DATE
	</select>
	
	<!-- [큐빅아이코드] 각 쇼핑몰 재고 테이블 중 CUBICI_CODE 없는 옵션들 CODE 업데이트 -->
	<update id="updateStockCubiciCode">
		<foreach collection="list" item='test'>
			UPDATE
			CBCI_${test.SHOP_NAME}_STOCK
			SET
			CUBICI_CODE =
			CASE WHEN CUBICI_CODE IS NULL THEN #{test.madeCode}
			ELSE CUBICI_CODE
			END
			WHERE LEFT(INPUT_DATE, 10) = #{test.INPUT_DATE}
		<if test='test.SHOP_TYPE == "01"'>
			AND CONCAT(PRODUCT_NO,OPTION1,OPTION2) = #{test.UNIQUE_OPTION}
		</if>
		<if test='test.SHOP_TYPE == "02"'>
			AND CONCAT(PRODUCT_NO,OPTION1,OPTION2,OPTION3) = #{test.UNIQUE_OPTION}
		</if>
		<if test='test.SHOP_TYPE == "03"'>
			AND CONCAT(ITEM_NO,OPTION1,OPTION2,OPTION3) = #{test.UNIQUE_OPTION}
		</if>
		<if test='test.SHOP_TYPE == "04"'>
			AND CONCAT(PRODUCT_NO,MIX_DTL_OPT_NM) = #{test.UNIQUE_OPTION}
		</if>
		<if test='test.SHOP_TYPE == "11"'>
			AND ${test.prdNo} = #{test.UNIQUE_OPTION}
		</if>
		<if test='test.SHOP_TYPE == "14"'>
			AND CONCAT(PRODUCT_NO,OPTION_NM_1,OPTION_NM_2,OPTION_NM_3) = #{test.UNIQUE_OPTION}
		</if>
		</foreach>
	</update>
	
	<!-- [큐빅아이코드] 각 쇼핑몰 상품 테이블 CUBICI_CODE 없는 상품 LIST -->
	<select id="selectGoodsProdcutList" resultType="hashmap">
		SELECT
			DISTINCT GOODS.CUBICI_CODE,
			GOODS.${prdNo} AS UNIQUE_OPTION,
			LEFT(GOODS.INPUT_DATE, 10) AS INPUT_DATE
		FROM
			CBCI_${SHOP_NAME}_GOODS GOODS
		LEFT JOIN CBCI_${SHOP_NAME}_STOCK STOCK ON
			GOODS.${prdNo} = STOCK.${prdNo}
		WHERE
			STOCK.${prdNo} IS NULL
			AND GOODS.CUBICI_CODE IS NULL
			AND LEFT(GOODS.INPUT_DATE, 10) = #{inputDate}
		<if test='SHOP_TYPE == "03"'>
			AND GOODS.OPTION_YN = "미사용"
		</if>
		<if test='SHOP_TYPE == "04"'>
			AND GOODS.OPTION_YN = "N"
		</if>
		ORDER BY
			GOODS.${prdNo},
			GOODS.INPUT_DATE
	</select>
	
	<!-- [큐빅아이코드] 각 쇼핑몰 상품 테이블 CUBICI_CODE 없는 상품들 CODE 업데이트 -->
	<update id="updateGoodsCubiciCode">
		<foreach collection="list" item='test'>
			UPDATE
			CBCI_${test.SHOP_NAME}_GOODS
			SET
			CUBICI_CODE =
			CASE WHEN CUBICI_CODE IS NULL THEN #{test.madeCode}
			ELSE CUBICI_CODE
			END
			WHERE LEFT(INPUT_DATE, 10) = #{test.INPUT_DATE}
		<if test='test.SHOP_TYPE == "01"'>
			AND PRODUCT_NO = #{test.UNIQUE_OPTION}
		</if>
		<if test='test.SHOP_TYPE == "02"'>
			AND PRODUCT_NO = #{test.UNIQUE_OPTION}
		</if>
		<if test='test.SHOP_TYPE == "03"'>
			AND ITEM_NO = #{test.UNIQUE_OPTION}
		</if>
		<if test='test.SHOP_TYPE == "04"'>
			AND PRODUCT_NO = #{test.UNIQUE_OPTION}
		</if>
		<if test='test.SHOP_TYPE == "14"'>
			AND PRODUCT_NO = #{test.UNIQUE_OPTION}
		</if>
		</foreach>
	</update>

	<!-- [매칭코드] 각 쇼핑몰 재고+상품 테이블 매칭코드 없고, 선택해제한 적 없는, 내부관리코드 있는 상품들 조회 -->
	<select id="selectMatchingList" resultType="hashmap">
	<![CDATA[
		SELECT
			FIRST_CAL.*,
			GROUP_CONCAT(FIRST_CAL.SHOP SEPARATOR '^') AS MATCHING_TABLE
		FROM
			(SELECT
				'INTERPARK_GOODS' AS SHOP,
				CIG.SHOP_ID,
				CIG.CUBICI_CODE,
				CIG.MATCHING_CODE,
				CIG.SELLER_PRODUCT_CODE AS MANAGE_CODE
			FROM
				CBCI_INTERPARK_GOODS CIG
			WHERE
				CIG.SHOP_ID REGEXP (#{interpark_id})
				AND CIG.CUBICI_CODE IS NOT NULL
				AND TRIM(CIG.SELLER_PRODUCT_CODE) <> ''
				AND CIG.MATCHING_CANCEL IS NULL
		UNION ALL
			SELECT
				'INTERPARK_STOCK' AS SHOP,
				CIS.SHOP_ID,
				CIS.CUBICI_CODE,
				CIS.MATCHING_CODE,
				CIS.MANAGE_CODE AS MANAGE_CODE
			FROM
				CBCI_INTERPARK_STOCK CIS
			WHERE
				CIS.SHOP_ID REGEXP (#{interpark_id})
				AND CIS.CUBICI_CODE IS NOT NULL
				AND TRIM(CIS.MANAGE_CODE) <> ''
				AND CIS.MATCHING_CANCEL IS NULL
		UNION ALL
			SELECT
				'GMARKET_GOODS' AS SHOP,
				CGG.SHOP_ID,
				CGG.CUBICI_CODE,
				CGG.MATCHING_CODE,
				CGG.SELLER_PRODUCT_CODE AS MANAGE_CODE
			FROM
				CBCI_GMARKET_GOODS CGG
			WHERE
				CGG.SHOP_ID REGEXP (#{gmarket_id})
				AND CGG.CUBICI_CODE IS NOT NULL
				AND TRIM(CGG.SELLER_PRODUCT_CODE) <> ''
				AND CGG.MATCHING_CANCEL IS NULL
		UNION ALL
			SELECT
				'GMARKET_STOCK' AS SHOP,
				CGS.SHOP_ID,
				CGS.CUBICI_CODE,
				CGS.MATCHING_CODE,
				CGS.MANAGE_CODE AS MANAGE_CODE
			FROM
				CBCI_GMARKET_STOCK CGS
			WHERE
				CGS.SHOP_ID REGEXP (#{gmarket_id})
				AND CGS.CUBICI_CODE IS NOT NULL
				AND TRIM(CGS.MANAGE_CODE) <> ''
				AND CGS.MATCHING_CANCEL IS NULL
		UNION ALL
			SELECT
				'AUCTION_GOODS' AS SHOP,
				CAG.SHOP_ID,
				CAG.CUBICI_CODE,
				CAG.MATCHING_CODE,
				CAG.MANAGEMENT_CODE AS MANAGE_CODE
			FROM
				CBCI_AUCTION_GOODS CAG
			WHERE
				CAG.SHOP_ID REGEXP (#{auction_id})
				AND CAG.CUBICI_CODE IS NOT NULL
				AND TRIM(CAG.MANAGEMENT_CODE) <> ''
				AND CAG.MATCHING_CANCEL IS NULL 
		UNION ALL
			SELECT
				'11ST_GOODS' AS SHOP,
				CSG.SHOP_ID,
				CSG.CUBICI_CODE,
				CSG.MATCHING_CODE,
				CSG.SELLER_PRD_CD AS MANAGE_CODE
			FROM
				CBCI_11ST_GOODS CSG
			WHERE
				CSG.SHOP_ID REGEXP (#{eleven_id})
				AND CSG.CUBICI_CODE IS NOT NULL
				AND TRIM(CSG.SELLER_PRD_CD) <> ''
				AND CSG.MATCHING_CANCEL IS NULL
		UNION ALL
			SELECT
				'COUPANG_STOCK' AS SHOP,
				CCS.SHOP_ID,
				CCS.CUBICI_CODE,
				CCS.MATCHING_CODE,
				CCS.EXTERNAL_VENDOR_SKU AS MANAGE_CODE
			FROM
				CBCI_COUPANG_STOCK CCS
			WHERE
				CCS.SHOP_ID = #{coupang_id}
				AND CCS.CUBICI_CODE IS NOT NULL
				AND TRIM(CCS.EXTERNAL_VENDOR_SKU) <> ''
				AND CCS.MATCHING_CANCEL IS NULL
		UNION ALL
			SELECT
				'NAVER_GOODS' AS SHOP,
				CNG.SHOP_ID,
				CNG.CUBICI_CODE,
				CNG.MATCHING_CODE,
				CNG.SELLER_PRODUCT_CODE AS MANAGE_CODE
			FROM
				CBCI_NAVER_GOODS CNG
			WHERE
				CNG.SHOP_ID REGEXP (#{naver_id})
				AND CNG.CUBICI_CODE IS NOT NULL
				AND TRIM(CNG.SELLER_PRODUCT_CODE) <> ''
				AND CNG.MATCHING_CANCEL IS NULL
		UNION ALL
			SELECT
				'NAVER_STOCK' AS SHOP,
				CNS.SHOP_ID,
				CNS.CUBICI_CODE,
				CNS.MATCHING_CODE,
				CNS.MANAGE_CODE
			FROM
				CBCI_NAVER_STOCK CNS
			WHERE
				CNS.SHOP_ID REGEXP (#{naver_id})
				AND CNS.CUBICI_CODE IS NOT NULL
				AND TRIM(CNS.MANAGE_CODE) <> ''
				AND CNS.MATCHING_CANCEL IS NULL) FIRST_CAL
			GROUP BY
				FIRST_CAL.MANAGE_CODE
			HAVING MATCHING_TABLE like "%^%"
	]]>		
	</select>
	
	<!-- [매칭코드] 오늘 날짜의 마지막 매칭코드 조회 -->
	<select id="selectLastMatchingCode" resultType="hashmap">
	<![CDATA[
		SELECT
			LAST_CAL.*
		FROM
			(
			SELECT
				SUBSTR(FIRST_CAL.MATCHING_CODE, 1, 1) AS A_YEAR,
				CASE
					WHEN SUBSTR(FIRST_CAL.MATCHING_CODE, 2, 1) = 'A' THEN '01'
					WHEN SUBSTR(FIRST_CAL.MATCHING_CODE, 2, 1) = 'B' THEN '02'
					WHEN SUBSTR(FIRST_CAL.MATCHING_CODE, 2, 1) = 'C' THEN '03'
					WHEN SUBSTR(FIRST_CAL.MATCHING_CODE, 2, 1) = 'D' THEN '04'
					WHEN SUBSTR(FIRST_CAL.MATCHING_CODE, 2, 1) = 'E' THEN '05'
					WHEN SUBSTR(FIRST_CAL.MATCHING_CODE, 2, 1) = 'F' THEN '06'
					WHEN SUBSTR(FIRST_CAL.MATCHING_CODE, 2, 1) = 'G' THEN '07'
					WHEN SUBSTR(FIRST_CAL.MATCHING_CODE, 2, 1) = 'H' THEN '08'
					WHEN SUBSTR(FIRST_CAL.MATCHING_CODE, 2, 1) = 'I' THEN '09'
					WHEN SUBSTR(FIRST_CAL.MATCHING_CODE, 2, 1) = 'J' THEN '10'
					WHEN SUBSTR(FIRST_CAL.MATCHING_CODE, 2, 1) = 'K' THEN '11'
					WHEN SUBSTR(FIRST_CAL.MATCHING_CODE, 2, 1) = 'L' THEN '12'
				END AS A_MONTH,
				SUBSTR(FIRST_CAL.MATCHING_CODE, 3, 2) AS A_DATE,
				FIRST_CAL.*
			FROM
				(
				SELECT
					'NAVER_GOODS' AS SHOP,
					CNG.MATCHING_CODE
				FROM
					CBCI_NAVER_GOODS CNG
				WHERE
					CNG.CUBICI_CODE IS NOT NULL
					AND CNG.MATCHING_CODE IS NOT NULL
			UNION ALL
				SELECT
					'NAVER_STOCK' AS SHOP,
					CNS.MATCHING_CODE
				FROM
					CBCI_NAVER_STOCK CNS
				WHERE
					CNS.MATCHING_CODE IS NOT NULL
			UNION ALL
				SELECT
					'COUPANG_STOCK' AS SHOP,
					CCS.MATCHING_CODE
				FROM
					CBCI_COUPANG_STOCK CCS
				WHERE
					CCS.MATCHING_CODE IS NOT NULL
			UNION ALL
				SELECT
					'GMARKET_GOODS' AS SHOP,
					CGG.MATCHING_CODE
				FROM
					CBCI_GMARKET_GOODS CGG
				WHERE
					CGG.MATCHING_CODE IS NOT NULL
					AND CGG.CUBICI_CODE IS NOT NULL
			UNION ALL
				SELECT
					'GMARKET_STOCK' AS SHOP,
					CGS.MATCHING_CODE
				FROM
					CBCI_GMARKET_STOCK CGS
				WHERE
					CGS.MATCHING_CODE IS NOT NULL
					AND CGS.CUBICI_CODE IS NOT NULL
			UNION ALL
				SELECT
					'INTERPARK_GOODS' AS SHOP,
					CIG.MATCHING_CODE
				FROM
					CBCI_INTERPARK_GOODS CIG
				WHERE
					CIG.MATCHING_CODE IS NOT NULL
					AND CIG.CUBICI_CODE IS NOT NULL
			UNION ALL
				SELECT
					'INTERPARK_STOCK' AS SHOP,
					CIS.MATCHING_CODE
				FROM
					CBCI_INTERPARK_STOCK CIS
				WHERE
					CIS.MATCHING_CODE IS NOT NULL
			UNION ALL
				SELECT
					'11ST_GOODS' AS SHOP,
					CSG.MATCHING_CODE
				FROM
					CBCI_11ST_GOODS CSG
				WHERE
					CSG.MATCHING_CODE IS NOT NULL
					AND CSG.CUBICI_CODE IS NOT NULL
			UNION ALL
				SELECT
					'AUCTION_GOODS' AS SHOP,
					CAG.MATCHING_CODE
				FROM
					CBCI_AUCTION_GOODS CAG
				WHERE
					CAG.MATCHING_CODE IS NOT NULL
					AND CAG.CUBICI_CODE IS NOT NULL ) FIRST_CAL
			ORDER BY
				FIRST_CAL.MATCHING_CODE DESC
		 	LIMIT 1 ) LAST_CAL
		WHERE
			DATE_FORMAT(now(), '%Y%m%d') = CONCAT('202', A_YEAR, A_MONTH, A_DATE)
	]]>
	</select>
	
	<!-- [매칭코드] 매칭코드 update -->
	<update id="updateMatchingCode">
		UPDATE
			CBCI_${SHOP_NAME}
		SET
		<if test="UPDATE_FLAG == 'DEL'"> <!-- 매칭 삭제  -->
			MATCHING_CODE = ${MATHCING_CODE},
			HEADQUARTER_INVENTORY = ${HEAD_INVEN},
			MATCHING_CANCEL = "Y"
		</if>
		<if test="UPDATE_FLAG == 'INVEN_UPDATE'"> <!-- 매칭 삭제없이 inven만 update -->
			HEADQUARTER_INVENTORY = ${HEAD_INVEN}
		</if>
		<if test="UPDATE_FLAG == 'NEW' or UPDATE_FLAG == 'MERGE' or UPDATE_FLAG == 'ADD' or UPDATE_FLAG == 'AUTO'">
			MATCHING_CODE = #{MATCHING_CODE}
		</if>
		WHERE
		<if test="UPDATE_FLAG == 'AUTO'"> <!-- 자동 매칭 -->
			${manageCodeName} = #{MANAGE_CODE}
			AND CUBICI_CODE IS NOT NULL
		</if>
		<if test="UPDATE_FLAG != 'AUTO'"> <!-- 선택 매칭  -->
			<choose>
				<when test="CUBICI_CODE == 'null' or CUBICI_CODE == ''">
					<choose>
						<when test="SHOPFLAG == '11'">
							SELLER_PRODUCT_ID = #{PRODUCT_NO}
						</when>
						<when test="SHOPFLAG == '3'">
							ITEM_NO = #{PRODUCT_NO}
						</when>
						<otherwise>
							PRODUCT_NO = #{PRODUCT_NO}
						</otherwise>
					</choose>
				</when>
				<otherwise>
					CUBICI_CODE = #{CUBICI_CODE}
				</otherwise>
			</choose>
		</if>
			AND SHOP_ID = #{SHOP_ID}
	</update>
	
	<!-- [재고관리] 기준일자  -->
	<select id="selectLastUpdDate" resultType="string">
		SELECT
			FIRST_CAL.*
		FROM (
			SELECT
				CIG.UPD_DATE
			FROM
				CBCI_INTERPARK_GOODS CIG
			WHERE
				CIG.SHOP_ID REGEXP (#{interpark_id})
			UNION ALL	
			SELECT
				CIS.UPD_DATE
			FROM
				CBCI_INTERPARK_STOCK CIS
			WHERE
				CIS.SHOP_ID REGEXP (#{interpark_id})
			UNION ALL
			SELECT
				CGG.UPD_DATE
			FROM
				CBCI_GMARKET_GOODS CGG
			WHERE
				CGG.SHOP_ID REGEXP (#{gmarket_id})
			UNION ALL
			SELECT
				CGS.UPD_DATE
			FROM
				CBCI_GMARKET_STOCK CGS
			WHERE
				CGS.SHOP_ID REGEXP (#{gmarket_id})
			UNION ALL
			SELECT
				CAG.UPD_DATE
			FROM
				CBCI_AUCTION_GOODS CAG
			WHERE
				CAG.SHOP_ID REGEXP (#{auction_id})
			UNION ALL
			SELECT
				CSG.UPD_DATE
			FROM
				CBCI_11ST_GOODS CSG
			WHERE
				CSG.SHOP_ID REGEXP (#{eleven_id})
			UNION ALL
			SELECT
				CCG.INPUT_DATE
			FROM
				CBCI_COUPANG_GOODS CCG
			WHERE
				CCG.SHOP_ID = #{coupang_id}
			UNION ALL
			SELECT
				CCS.UPD_DATE
			FROM
				CBCI_COUPANG_STOCK CCS
			WHERE
				CCS.SHOP_ID = #{coupang_id}
			UNION ALL
			SELECT
				CNG.UPD_DATE
			FROM
				CBCI_NAVER_GOODS CNG
			WHERE
			CNG.SHOP_ID REGEXP (#{naver_id})
			UNION ALL
			SELECT
				CNS.UPD_DATE
			FROM
				CBCI_NAVER_STOCK CNS
			WHERE
				CNS.SHOP_ID REGEXP (#{naver_id})
			) FIRST_CAL
		ORDER BY FIRST_CAL.UPD_DATE DESC
		LIMIT 1
	</select>
	
	<!-- [재고관리] 상품목록  -->
	<select id="selectProductList" resultType="hashmap">
		SELECT
			FOUND_ROWS() AS CNT,
			FIRST_CAL.*
		FROM (
			SELECT 
				FOUND_ROWS() AS MATCHING_CNT,
				MATCHING.*
			FROM(
				SELECT
					<if test='FLAG == "MATCH" or FLAG == "DETAIL" or FLAG == "AUTO_MATCH"'>			
					SUBMATCHING.SHOP AS MATCHING_TABLE,
					SUBMATCHING.*
					</if>
					<if test='FLAG == "PRODUCT"'>
					GROUP_CONCAT(SUBMATCHING.SHOP SEPARATOR '^') AS MATCHING_TABLE,
					SUBMATCHING.*
					</if>
			<![CDATA[
				FROM (
					SELECT
						1 AS SHOP_TYPE,
						'인터파크' AS SHOP,
						'INTERPARK_GOODS' AS DIVISION,
						CIG.SHOP_ID,
						CIG.CUBICI_CODE,
						CIG.PRODUCT_NO,
						CIG.MATCHING_CODE,
						CIG.SELLER_PRODUCT_CODE AS MANAGE_CODE,
						CIG.PRODUCT_IMG,
						CIG.PRODUCT_NM AS PRODUCT_NAME,
						SUBSTRING_INDEX(CIG.CATEGORY, '>', -1) AS CATEGORY,
						CIG.STOCK_QUANTITY,
						CIG.SELL_PRICE AS PRICE,
						CIG.SALES_STATUS AS STATUS,
						CIG.BRAND_NM AS BRAND,
						CIG.UPD_DATE,
						'' AS OPTION1,
						'' AS OPTION2,
						'' AS OPTION3,
						CIG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
						CIG.DELIVERY_CHARGE AS D_CHARGE,
						DATE_FORMAT(CIG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE				
					FROM CBCI_INTERPARK_STOCK CIS
					LEFT JOIN CBCI_INTERPARK_GOODS CIG
					ON CIS.SHOP_ID = CIG.SHOP_ID AND CIS.PRODUCT_NO = CIG.PRODUCT_NO
					WHERE
						CIG.SHOP_ID REGEXP (#{interpark_id})
						AND CIG.CUBICI_CODE IS NOT NULL
						AND CIG.MATCHING_CODE IS NOT NULL
					UNION ALL
					SELECT
						1 AS SHOP_TYPE,
						'인터파크' AS SHOP,
						'INTERPARK_STOCK' AS DIVISION,
						CIS.SHOP_ID,
						CIS.CUBICI_CODE,
						CIG.PRODUCT_NO,
						CIS.MATCHING_CODE,
						CIS.MANAGE_CODE,
						CIG.PRODUCT_IMG,
						CONCAT(CIG.PRODUCT_NM, ' / ', CIS.OPTION1, ' ', CIS.OPTION2) AS PRODUCT_NAME,
						SUBSTRING_INDEX(CIG.CATEGORY, '>', -1) AS CATEGORY,
						CIS.OPTION_QUANTITY AS STOCK_QUANTITY,
						CIG.SELL_PRICE + CIS.ADD_PRICE AS PRICE,
						CIG.SALES_STATUS AS STATUS,
						CIG.BRAND_NM AS BRAND,
						CIG.UPD_DATE,
						CIS.OPTION1 AS OPTION1,
						CIS.OPTION2 AS OPTION2,
						'' AS OPTION3,
						CIS.HEADQUARTER_INVENTORY AS HEAD_INVEN,
						CIG.DELIVERY_CHARGE AS D_CHARGE,
						DATE_FORMAT(CIG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
					FROM CBCI_INTERPARK_STOCK CIS
					LEFT JOIN CBCI_INTERPARK_GOODS CIG
					ON CIS.SHOP_ID = CIG.SHOP_ID AND CIS.PRODUCT_NO = CIG.PRODUCT_NO
					WHERE
						CIS.SHOP_ID REGEXP (#{interpark_id})
						AND CIS.MATCHING_CODE IS NOT NULL
					UNION ALL
					SELECT
						2 AS SHOP_TYPE,
						'지마켓' AS SHOP,
						'GMARKET_GOODS' AS DIVISION,
						CGG.SHOP_ID,
						CGG.CUBICI_CODE,
						CGG.PRODUCT_NO,
						CGG.MATCHING_CODE,
						CGG.SELLER_PRODUCT_CODE AS MANAGE_CODE,
						CGG.PRODUCT_IMG,
						CGG.PRODUCT_NM AS PRODUCT_NAME,
						(CASE WHEN CGG.DETAIL_CATEGORY = '' THEN CGG.SUB_CATEGORY ELSE CGG.DETAIL_CATEGORY END) AS CATEGORY,
						CGG.STOCK_QUANTITY,
						CGG.SELL_PRICE AS PRICE,
						CGG.SALES_STATUS AS STATUS,
						CGG.BRAND_NM AS BRAND,
						CGG.UPD_DATE,
						'' AS OPTION1,
						'' AS OPTION2,
						'' AS OPTION3,
						CGG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
						CGG.DELIVERY_CHARGE AS D_CHARGE,
						DATE_FORMAT(CGG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
					FROM
						CBCI_GMARKET_GOODS CGG
					WHERE
						CGG.SHOP_ID REGEXP (#{gmarket_id})
						AND CGG.CUBICI_CODE IS NOT NULL
						AND CGG.MATCHING_CODE IS NOT NULL
					UNION ALL
					SELECT
						2 AS SHOP_TYPE,
						'지마켓' AS SHOP,
						'GMARKET_STOCK' AS DIVISION,
						CGS.SHOP_ID,
						CGS.CUBICI_CODE,
						CGG.PRODUCT_NO,
						CGS.MATCHING_CODE,
						CGS.MANAGE_CODE,
						CGG.PRODUCT_IMG,
						CONCAT(CGG.PRODUCT_NM, ' / ', CGS.OPTION1, ' ', CGS.OPTION2, ' ', CGS.OPTION3) AS PRODUCT_NAME,
						(CASE WHEN CGG.DETAIL_CATEGORY = '' THEN CGG.SUB_CATEGORY ELSE CGG.DETAIL_CATEGORY END) AS CATEGORY,
						CGS.OPTION_STOCK AS STOCK_QUANTITY,
						CGG.SELL_PRICE + CGS.ADD_PRICE AS PRICE,
						CGG.SALES_STATUS AS STATUS,
						CGG.BRAND_NM AS BRAND,
						CGG.UPD_DATE,
						CGS.OPTION1 AS OPTION1,
						CGS.OPTION2 AS OPTION2,
						CGS.OPTION3 AS OPTION3,
						CGS.HEADQUARTER_INVENTORY AS HEAD_INVEN,
						CGG.DELIVERY_CHARGE AS D_CHARGE,
						DATE_FORMAT(CGG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
					FROM CBCI_GMARKET_STOCK CGS
					LEFT JOIN CBCI_GMARKET_GOODS CGG
					ON CGS.SHOP_ID = CGG.SHOP_ID AND CGS.PRODUCT_NO = CGG.PRODUCT_NO
					WHERE
						CGS.SHOP_ID REGEXP (#{gmarket_id})
						AND CGS.MATCHING_CODE IS NOT NULL
					UNION ALL
					SELECT
						3 AS SHOP_TYPE,
						'옥션' AS SHOP,
						'AUCTION_GOODS' AS DIVISION,
						CAG.SHOP_ID,
						CAG.CUBICI_CODE,
						CAG.ITEM_NO,
						CAG.MATCHING_CODE,
						CAG.MANAGEMENT_CODE AS MANAGE_CODE,
						CAG.PRODUCT_IMG AS PRODUCT_IMG,
						CAG.ITEM_NAME AS PRODUCT_NAME,
						SUBSTRING_INDEX(CAG.CATEGORY_NAME, '>', -1) AS CATEGORY,
						CAG.SUM_STOCK_QTY AS STOCK_QUANTITY,
						CAG.SELLING_PRICE AS PRICE,
						CAG.SELLING_STATUS_CODE AS STATUS,
						CAG.BRAND_NAME AS BRAND,
						CAG.UPD_DATE,
						'' AS OPTION1,
						'' AS OPTION2,
						'' AS OPTION3,
						CAG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
						CAG.SHIPPING_COST AS D_CHARGE,
						DATE_FORMAT(CAG.ITEM_REGIST_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
					FROM
						CBCI_AUCTION_GOODS CAG
					WHERE
						CAG.SHOP_ID REGEXP (#{auction_id})
						AND CAG.CUBICI_CODE IS NOT NULL
						AND CAG.MATCHING_CODE IS NOT NULL
					UNION ALL
					SELECT
						3 AS SHOP_TYPE,
						'옥션' AS SHOP,
						'AUCTION_STOCK' AS DIVISION,
						CAS.SHOP_ID,
						CAS.CUBICI_CODE,
						CAG.ITEM_NO,
						CAS.MATCHING_CODE,
						CAS.MANAGE_CODE AS MANAGE_CODE,
						CAG.PRODUCT_IMG AS PRODUCT_IMG,
						CONCAT(CAG.ITEM_NAME, ' / ', CAS.OPTION1, ' ', CAS.OPTION2, ' ', CAS.OPTION3) AS PRODUCT_NAME,
						SUBSTRING_INDEX(CAG.CATEGORY_NAME, '>', -1) AS CATEGORY,
						CAS.OPTION_STOCK AS STOCK_QUANTITY,
						CAG.SELLING_PRICE + CAS.ADD_PRICE AS PRICE,
						CAG.SELLING_STATUS_CODE AS STATUS,
						CAG.BRAND_NAME AS BRAND,
						CAG.UPD_DATE,
						CAS.OPTION1 AS OPTION1,
						CAS.OPTION2 AS OPTION2,
						CAS.OPTION3 AS OPTION3,
						CAS.HEADQUARTER_INVENTORY AS HEAD_INVEN,
						CAG.SHIPPING_COST AS D_CHARGE,
						DATE_FORMAT(CAG.ITEM_REGIST_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
					FROM
						CBCI_AUCTION_STOCK CAS
					LEFT JOIN CBCI_AUCTION_GOODS CAG
					ON CAS.SHOP_ID = CAG.SHOP_ID AND CAS.ITEM_NO = CAG.ITEM_NO
					WHERE
						CAS.SHOP_ID REGEXP (#{auction_id})
						AND CAS.MATCHING_CODE IS NOT NULL
					UNION ALL
					SELECT
						4 AS SHOP_TYPE,
						'11번가' AS SHOP,
						'11ST_GOODS' AS DIVISION,
						CSG.SHOP_ID,
						CSG.CUBICI_CODE,
						CSG.PRODUCT_NO,
						CSG.MATCHING_CODE,
						CSG.SELLER_PRD_CD AS MANAGE_CODE,
						CSG.PRODUCT_IMG AS PRODUCT_IMG,
						CSG.PRD_NM AS PRODUCT_NAME,
						SUBSTRING_INDEX(CSG.CATEGORY_NAME, '>', -1) AS CATEGORY,
						CSG.QUANTITY AS STOCK_QUANTITY,
						CSG.SEL_PRC AS PRICE,
						CSG.SEL_STAT_NM AS STATUS,
						CSG.BRAND_NAME AS BRAND,
						CSG.UPD_DATE,
						'' AS OPTION1,
						'' AS OPTION2,
						'' AS OPTION3,
						CSG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
						'0' AS D_CHARGE,
						DATE_FORMAT(CSG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
					FROM
						CBCI_11ST_GOODS CSG
					WHERE
						CSG.MATCHING_CODE IS NOT NULL
						AND CSG.CUBICI_CODE IS NOT NULL
						AND CSG.SHOP_ID REGEXP (#{eleven_id})
					UNION ALL
					SELECT
						4 AS SHOP_TYPE,
						'11번가' AS SHOP,
						'11ST_STOCK' AS DIVISION,
						CSS.SHOP_ID,
						CSS.CUBICI_CODE,
						CSG.PRODUCT_NO,
						CSS.MATCHING_CODE,
						CSS.SELLER_PRD_CD AS MANAGE_CODE,
						CSG.PRODUCT_IMG AS PRODUCT_IMG,
						CONCAT(CSG.PRD_NM, ' / ', CSS.MIX_DTL_OPT_NM) AS PRODUCT_NAME,
						SUBSTRING_INDEX(CSG.CATEGORY_NAME, '>', -1) AS CATEGORY,
						CSS.STCK_QTY AS STOCK_QUANTITY,
						CSG.SEL_PRC AS PRICE,
						CSG.SEL_STAT_NM AS STATUS,
						CSG.BRAND_NAME AS BRAND,
						CSG.UPD_DATE,
						CSS.MIX_DTL_OPT_NM AS OPTION1,
						'' AS OPTION2,
						'' AS OPTION3,
						CSS.HEADQUARTER_INVENTORY AS HEAD_INVEN,
						'0' AS D_CHARGE,
						DATE_FORMAT(CSG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
					FROM
						CBCI_11ST_STOCK CSS
					LEFT JOIN CBCI_11ST_GOODS CSG
					ON CSS.SHOP_ID = CSG.SHOP_ID AND CSS.PRODUCT_NO = CSG.PRODUCT_NO
					WHERE
						CSS.MATCHING_CODE IS NOT NULL
						AND CSS.SHOP_ID REGEXP (#{eleven_id})
					UNION ALL
					SELECT
						11 AS SHOP_TYPE,
						'쿠팡' AS SHOP,
						'COUPANG_STOCK' AS DIVISION,
						CCS.SHOP_ID,
						CCS.CUBICI_CODE,
						CCS.SELLER_PRODUCT_ID AS MANAGE_CODE,
						CCS.MATCHING_CODE,
						CCS.EXTERNAL_VENDOR_SKU AS MANAGE_CODE,
						CCS.CDN_PATH_1 AS PRODUCT_IMG,
						CONCAT(CCG.SELLER_PRODUCT_NM, ' / ', CCS.ITEM_NAME) AS PRODUCT_NAME,
						(SELECT CATEGORY_NAME FROM CBCI_COUPANG_CATEGORY CCC WHERE CATEGORY_CODE = CCG.CATEGORY_CODE) AS CATEGORY,
						CCS.OPT_AMOUNT_IN_STOCK AS STOCK_QUANTITY,
						CCS.SALE_PRICE AS PRICE,
						CCG.STATUS_NAME AS STATUS,
						CCG.BRAND,
						CCS.UPD_DATE,
						CCS.ITEM_NAME AS OPTION1,
						'' AS OPTION2,
						'' AS OPTION3,
						CCS.HEADQUARTER_INVENTORY AS HEAD_INVEN,
						CCG.DELIVERY_CHARGE AS D_CHARGE,
						DATE_FORMAT(CCG.CREATED_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
					FROM
						CBCI_COUPANG_STOCK CCS
					LEFT JOIN CBCI_COUPANG_GOODS CCG
					ON CCS.SHOP_ID = CCG.SHOP_ID AND CCS.SELLER_PRODUCT_ID = CCG.SELLER_PRODUCT_ID
					WHERE
						CCS.SHOP_ID = #{coupang_id}
						AND CCS.CUBICI_CODE IS NOT NULL
						AND CCS.MATCHING_CODE IS NOT NULL
					UNION ALL
					SELECT
						14 AS SHOP_TYPE,
						'네이버' AS SHOP,
						'NAVER_GOODS' AS DIVISION,
						CNG.SHOP_ID,
						CNG.CUBICI_CODE,
						CNG.PRODUCT_NO,
						CNG.MATCHING_CODE,
						CNG.SELLER_PRODUCT_CODE AS MANAGE_CODE,
						CNG.PRODUCT_IMG,
						CNG.PRODUCT_NM AS PRODUCT_NAME,
						(CASE WHEN CNG.DETAIL_CATEGORY = '' THEN CNG.SUB_CATEGORY ELSE CNG.DETAIL_CATEGORY END) AS CATEGORY,
						CNG.STOCK_QUANTITY,
						CNG.SELL_PRICE AS PRICE,
						CNG.SALES_STATUS AS STATUS,
						CNG.BRAND_NM AS BRAND,
						CNG.UPD_DATE,
						'' AS OPTION1,
						'' AS OPTION2,
						'' AS OPTION3,
						CNG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
						CNG.DELIVERY_CHARGE AS D_CHARGE,
						DATE_FORMAT(CNG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
					FROM
						CBCI_NAVER_GOODS CNG
					WHERE
						CNG.SHOP_ID REGEXP (#{naver_id})
						AND CNG.CUBICI_CODE IS NOT NULL
						AND CNG.MATCHING_CODE IS NOT NULL
					UNION ALL				
					SELECT
						14 AS SHOP_TYPE,
						'네이버' AS SHOP,
						'NAVER_STOCK' AS DIVISION,
						CNS.SHOP_ID,
						CNS.CUBICI_CODE,
						CNG.PRODUCT_NO,
						CNS.MATCHING_CODE,
						CNS.MANAGE_CODE,
						CNG.PRODUCT_IMG,
						CONCAT(CNG.PRODUCT_NM, ' / ', CNS.OPTION_NM_1, CNS.OPTION_NM_2, CNS.OPTION_NM_3) AS PRODUCT_NAME,
						(CASE WHEN CNG.DETAIL_CATEGORY = '' THEN CNG.SUB_CATEGORY ELSE CNG.DETAIL_CATEGORY END) AS CATEGORY,
						CNS.OPTION_QUANTITY AS STOCK_QUANTITY,
						CNG.SELL_PRICE + CNS.OPTION_PRICE AS PRICE,
						CNG.SALES_STATUS AS STATUS,
						CNG.BRAND_NM AS BRAND,
						CNS.UPD_DATE,
						CNS.OPTION_NM_1 AS OPTION1,
						CNS.OPTION_NM_2 AS OPTION2,
						CNS.OPTION_NM_3 AS OPTION3,
						CNS.HEADQUARTER_INVENTORY AS HEAD_INVEN,
						CNG.DELIVERY_CHARGE AS D_CHARGE,
						DATE_FORMAT(CNG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
					FROM CBCI_NAVER_STOCK CNS
					LEFT JOIN CBCI_NAVER_GOODS CNG
					ON CNS.SHOP_ID = CNG.SHOP_ID AND CNS.PRODUCT_NO = CNG.PRODUCT_NO
					WHERE
						CNS.SHOP_ID REGEXP (#{naver_id})
						AND CNS.MATCHING_CODE IS NOT NULL
				) SUBMATCHING
			]]>
				<if test='FLAG =="PRODUCT"'>
				GROUP BY SUBMATCHING.MATCHING_CODE
				</if>
				) MATCHING
		UNION ALL -- 매칭,논매칭 union
			SELECT
				FOUND_ROWS() AS NONMATCHING_CNT,
				NONMATCHING.SHOP AS MATCHING_TABLE,
				NONMATCHING.*
			FROM (
		<![CDATA[
				
				SELECT
					1 AS SHOP_TYPE,
					'인터파크' AS SHOP,
					'INTERPARK_GOODS' AS DIVISION,
					CIG.SHOP_ID,
					CIG.CUBICI_CODE,
					CIG.PRODUCT_NO,
					CIG.MATCHING_CODE,
					CIG.SELLER_PRODUCT_CODE AS MANAGE_CODE,
					CIG.PRODUCT_IMG,
					CIG.PRODUCT_NM AS PRODUCT_NAME,
					SUBSTRING_INDEX(CIG.CATEGORY, '>', -1) AS CATEGORY,
					CIG.STOCK_QUANTITY,
					CIG.SELL_PRICE AS PRICE,
					CIG.SALES_STATUS AS STATUS,
					CIG.BRAND_NM AS BRAND,
					CIG.UPD_DATE,
					'' AS OPTION1,
					'' AS OPTION2,
					'' AS OPTION3,
					CIG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CIG.DELIVERY_CHARGE AS D_CHARGE,
					DATE_FORMAT(CIG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM
					CBCI_INTERPARK_GOODS CIG
				WHERE
					CIG.SHOP_ID REGEXP (#{interpark_id})
					AND CIG.CUBICI_CODE IS NOT NULL
					AND CIG.MATCHING_CODE IS NULL
				UNION ALL
				SELECT
					1 AS SHOP_TYPE,
					'인터파크' AS SHOP,
					'INTERPARK_STOCK' AS DIVISION,
					CIS.SHOP_ID,
					CIS.CUBICI_CODE,
					CIG.PRODUCT_NO,
					CIS.MATCHING_CODE,
					CIS.MANAGE_CODE,
					CIG.PRODUCT_IMG,
					CONCAT(CIG.PRODUCT_NM, ' / ', CIS.OPTION1, ' ', CIS.OPTION2) AS PRODUCT_NAME,
					SUBSTRING_INDEX(CIG.CATEGORY, '>', -1) AS CATEGORY,
					CIS.OPTION_QUANTITY AS STOCK_QUANTITY,
					CIG.SELL_PRICE + CIS.ADD_PRICE AS PRICE,
					CIG.SALES_STATUS AS STATUS,
					CIG.BRAND_NM AS BRAND,
					CIG.UPD_DATE,
					CIS.OPTION1 AS OPTION1,
					CIS.OPTION2 AS OPTION2,
					'' AS OPTION3,
					CIS.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CIG.DELIVERY_CHARGE AS D_CHARGE,
					DATE_FORMAT(CIG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM CBCI_INTERPARK_STOCK CIS
				LEFT JOIN CBCI_INTERPARK_GOODS CIG
				ON CIS.SHOP_ID = CIG.SHOP_ID AND CIS.PRODUCT_NO = CIG.PRODUCT_NO
				WHERE
					CIS.SHOP_ID REGEXP (#{interpark_id})
					AND CIS.MATCHING_CODE IS NULL
				UNION ALL
				SELECT
					2 AS SHOP_TYPE,
					'지마켓' AS SHOP,
					'GMARKET_GOODS' AS DIVISION,
					CGG.SHOP_ID,
					CGG.CUBICI_CODE,
					CGG.PRODUCT_NO,
					CGG.MATCHING_CODE,
					CGG.SELLER_PRODUCT_CODE AS MANAGE_CODE,
					CGG.PRODUCT_IMG,
					CGG.PRODUCT_NM AS PRODUCT_NAME,
					(CASE WHEN CGG.DETAIL_CATEGORY = '' THEN CGG.SUB_CATEGORY ELSE CGG.DETAIL_CATEGORY END) AS CATEGORY,
					CGG.STOCK_QUANTITY,
					CGG.SELL_PRICE AS PRICE,
					CGG.SALES_STATUS AS STATUS,
					CGG.BRAND_NM AS BRAND,
					CGG.UPD_DATE,
					'' AS OPTION1,
					'' AS OPTION2,
					'' AS OPTION3,
					CGG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CGG.DELIVERY_CHARGE AS D_CHARGE,
					DATE_FORMAT(CGG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM
					CBCI_GMARKET_GOODS CGG
				WHERE
					CGG.SHOP_ID REGEXP (#{gmarket_id})	
					AND CGG.CUBICI_CODE IS NOT NULL
					AND CGG.MATCHING_CODE IS NULL
				UNION ALL
				SELECT
					2 AS SHOP_TYPE,
					'지마켓' AS SHOP,
					'GMARKET_STOCK' AS DIVISION,
					CGS.SHOP_ID,
					CGS.CUBICI_CODE,
					CGG.PRODUCT_NO,
					CGS.MATCHING_CODE,
					CGS.MANAGE_CODE,
					CGG.PRODUCT_IMG,
					CONCAT(CGG.PRODUCT_NM, ' / ', CGS.OPTION1, ' ', CGS.OPTION2, ' ', CGS.OPTION3) AS PRODUCT_NAME,
					(CASE WHEN CGG.DETAIL_CATEGORY = '' THEN CGG.SUB_CATEGORY ELSE CGG.DETAIL_CATEGORY END) AS CATEGORY,
					CGS.OPTION_STOCK AS STOCK_QUANTITY,
					CGG.SELL_PRICE + CGS.ADD_PRICE AS PRICE,
					CGG.SALES_STATUS AS STATUS,
					CGG.BRAND_NM AS BRAND,
					CGG.UPD_DATE,
					CGS.OPTION1 AS OPTION1,
					CGS.OPTION2 AS OPTION2,
					CGS.OPTION3 AS OPTION3,
					CGS.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CGG.DELIVERY_CHARGE AS D_CHARGE,
					DATE_FORMAT(CGG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM CBCI_GMARKET_STOCK CGS
				LEFT JOIN CBCI_GMARKET_GOODS CGG
				ON CGS.SHOP_ID = CGG.SHOP_ID AND CGS.PRODUCT_NO = CGG.PRODUCT_NO
				WHERE
					CGS.SHOP_ID REGEXP (#{gmarket_id})
					AND CGS.MATCHING_CODE IS NULL
				UNION ALL
				SELECT
					3 AS SHOP_TYPE,
					'옥션' AS SHOP,
					'AUCTION_GOODS' AS DIVISION,
					CAG.SHOP_ID,
					CAG.CUBICI_CODE,
					CAG.ITEM_NO AS PRODUCT_NO,
					CAG.MATCHING_CODE,
					CAG.MANAGEMENT_CODE AS MANAGE_CODE,
					CAG.PRODUCT_IMG AS PRODUCT_IMG,
					CAG.ITEM_NAME AS PRODUCT_NAME,
					SUBSTRING_INDEX(CAG.CATEGORY_NAME, '>', -1) AS CATEGORY,
					CAG.SUM_STOCK_QTY AS STOCK_QUANTITY,
					CAG.SELLING_PRICE AS PRICE,
					CAG.SELLING_STATUS_CODE AS STATUS,
					CAG.BRAND_NAME AS BRAND,
					CAG.UPD_DATE,
					'' AS OPTION1,
					'' AS OPTION2,
					'' AS OPTION3,
					CAG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CAG.SHIPPING_COST AS D_CHARGE,
					DATE_FORMAT(CAG.ITEM_REGIST_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM
					CBCI_AUCTION_GOODS CAG
				WHERE
					CAG.SHOP_ID REGEXP (#{auction_id})
					AND CAG.CUBICI_CODE IS NOT NULL
					AND CAG.MATCHING_CODE IS NULL
				UNION ALL
				SELECT
					3 AS SHOP_TYPE,
					'옥션' AS SHOP,
					'AUCTION_STOCK' AS DIVISION,
					CAS.SHOP_ID,
					CAS.CUBICI_CODE,
					CAG.ITEM_NO,
					CAS.MATCHING_CODE,
					CAS.MANAGE_CODE AS MANAGE_CODE,
					CAG.PRODUCT_IMG AS PRODUCT_IMG,
					CONCAT(CAG.ITEM_NAME, ' / ', CAS.OPTION1, ' ', CAS.OPTION2, ' ', CAS.OPTION3) AS PRODUCT_NAME,
					SUBSTRING_INDEX(CAG.CATEGORY_NAME, '>', -1) AS CATEGORY,
					CAS.OPTION_STOCK AS STOCK_QUANTITY,
					CAG.SELLING_PRICE + CAS.ADD_PRICE AS PRICE,
					CAG.SELLING_STATUS_CODE AS STATUS,
					CAG.BRAND_NAME AS BRAND,
					CAG.UPD_DATE,
					CAS.OPTION1 AS OPTION1,
					CAS.OPTION2 AS OPTION2,
					CAS.OPTION3 AS OPTION3,
					CAS.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CAG.SHIPPING_COST AS D_CHARGE,
					DATE_FORMAT(CAG.ITEM_REGIST_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM
					CBCI_AUCTION_STOCK CAS
				LEFT JOIN CBCI_AUCTION_GOODS CAG
				ON CAS.SHOP_ID = CAG.SHOP_ID AND CAS.ITEM_NO = CAG.ITEM_NO
				WHERE
					CAS.SHOP_ID REGEXP (#{auction_id})
					AND CAS.MATCHING_CODE IS NULL
				UNION ALL
				SELECT
					4 AS SHOP_TYPE,
					'11번가' AS SHOP,
					'11ST_GOODS' AS DIVISION,
					CSG.SHOP_ID,
					CSG.CUBICI_CODE,
					CSG.PRODUCT_NO,
					CSG.MATCHING_CODE,
					CSG.SELLER_PRD_CD AS MANAGE_CODE,
					CSG.PRODUCT_IMG AS PRODUCT_IMG,
					CSG.PRD_NM AS PRODUCT_NAME,
					SUBSTRING_INDEX(CSG.CATEGORY_NAME, '>', -1) AS CATEGORY,
					CSG.QUANTITY AS STOCK_QUANTITY,
					CSG.SEL_PRC AS PRICE,
					CSG.SEL_STAT_NM AS STATUS,
					CSG.BRAND_NAME AS BRAND,
					CSG.UPD_DATE,
					'' AS OPTION1,
					'' AS OPTION2,
					'' AS OPTION3,
					CSG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					'0' AS D_CHARGE,
					DATE_FORMAT(CSG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM
					CBCI_11ST_GOODS CSG
				WHERE
					CSG.SHOP_ID REGEXP (#{eleven_id})
					AND CSG.CUBICI_CODE IS NOT NULL
					AND CSG.MATCHING_CODE IS NULL
				UNION ALL
				SELECT
					4 AS SHOP_TYPE,
					'11번가' AS SHOP,
					'11ST_STOCK' AS DIVISION,
					CSS.SHOP_ID,
					CSS.CUBICI_CODE,
					CSG.PRODUCT_NO,
					CSS.MATCHING_CODE,
					CSS.SELLER_PRD_CD AS MANAGE_CODE,
					CSG.PRODUCT_IMG AS PRODUCT_IMG,
					CONCAT(CSG.PRD_NM, ' / ', CSS.MIX_DTL_OPT_NM) AS PRODUCT_NAME,
					SUBSTRING_INDEX(CSG.CATEGORY_NAME, '>', -1) AS CATEGORY,
					CSS.STCK_QTY AS STOCK_QUANTITY,
					CSG.SEL_PRC AS PRICE,
					CSG.SEL_STAT_NM AS STATUS,
					CSG.BRAND_NAME AS BRAND,
					CSG.UPD_DATE,
					CSS.MIX_DTL_OPT_NM AS OPTION1,
					'' AS OPTION2,
					'' AS OPTION3,
					CSS.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					'0' AS D_CHARGE,
					DATE_FORMAT(CSG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM
					CBCI_11ST_STOCK CSS
				LEFT JOIN CBCI_11ST_GOODS CSG
				ON CSS.SHOP_ID = CSG.SHOP_ID AND CSS.PRODUCT_NO = CSG.PRODUCT_NO
				WHERE
					CSS.MATCHING_CODE IS NULL
					AND CSS.SHOP_ID REGEXP (#{eleven_id})
				UNION ALL
				SELECT
					11 AS SHOP_TYPE,
					'쿠팡' AS SHOP,
					'COUPANG_STOCK' AS DIVISION,
					CCS.SHOP_ID,
					CCS.CUBICI_CODE,
					CCS.SELLER_PRODUCT_ID AS PRODUCT_NO,
					CCS.MATCHING_CODE,
					CCS.EXTERNAL_VENDOR_SKU AS MANAGE_CODE,
					CCS.CDN_PATH_1 AS PRODUCT_IMG,
					CONCAT(CCG.SELLER_PRODUCT_NM, ' / ', CCS.ITEM_NAME) AS PRODUCT_NAME,
					(SELECT CATEGORY_NAME FROM CBCI_COUPANG_CATEGORY CCC WHERE CATEGORY_CODE = CCG.CATEGORY_CODE) AS CATEGORY,
					CCS.OPT_AMOUNT_IN_STOCK AS STOCK_QUANTITY,
					CCS.SALE_PRICE AS PRICE,
					CCG.STATUS_NAME AS STATUS,
					CCG.BRAND,
					CCS.UPD_DATE,
					CCS.ITEM_NAME AS OPTION1,
					'' AS OPTION2,
					'' AS OPTION3,
					CCS.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CCG.DELIVERY_CHARGE AS D_CHARGE,
					DATE_FORMAT(CCG.CREATED_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM CBCI_COUPANG_STOCK CCS
				LEFT JOIN CBCI_COUPANG_GOODS CCG
				ON CCS.SHOP_ID = CCG.SHOP_ID AND CCS.SELLER_PRODUCT_ID = CCG.SELLER_PRODUCT_ID
				WHERE
					CCS.SHOP_ID = #{coupang_id}
					AND CCS.CUBICI_CODE IS NOT NULL
					AND CCS.MATCHING_CODE IS NULL
				UNION ALL
				SELECT
					14 AS SHOP_TYPE,
					'네이버' AS SHOP,
					'NAVER_GOODS' AS DIVISION,
					CNG.SHOP_ID,
					CNG.CUBICI_CODE,
					CNG.PRODUCT_NO,
					CNG.MATCHING_CODE,
					CNG.SELLER_PRODUCT_CODE AS MANAGE_CODE,
					CNG.PRODUCT_IMG,
					CNG.PRODUCT_NM AS PRODUCT_NAME,
					(CASE WHEN CNG.DETAIL_CATEGORY = '' THEN CNG.SUB_CATEGORY ELSE CNG.DETAIL_CATEGORY END) AS CATEGORY,
					CNG.STOCK_QUANTITY,
					CNG.SELL_PRICE AS PRICE,
					CNG.SALES_STATUS AS STATUS,
					CNG.BRAND_NM AS BRAND,
					CNG.UPD_DATE,
					'' AS OPTION1,
					'' AS OPTION2,
					'' AS OPTION3,
					CNG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CNG.DELIVERY_CHARGE AS D_CHARGE,
					DATE_FORMAT(CNG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM
					CBCI_NAVER_GOODS CNG
				WHERE
					CNG.SHOP_ID REGEXP (#{naver_id})
					AND CNG.CUBICI_CODE IS NOT NULL
					AND CNG.MATCHING_CODE IS NULL
				UNION ALL	
				SELECT
					14 AS SHOP_TYPE,
					'네이버' AS SHOP,			
					'NAVER_STOCK' AS DIVISION,
					CNS.SHOP_ID,
					CNS.CUBICI_CODE,
					CNG.PRODUCT_NO,
					CNS.MATCHING_CODE,
					CNS.MANAGE_CODE,
					CNG.PRODUCT_IMG,
					CONCAT(CNG.PRODUCT_NM, ' / ', CNS.OPTION_NM_1, CNS.OPTION_NM_2, CNS.OPTION_NM_3) AS PRODUCT_NAME,
					(CASE WHEN CNG.DETAIL_CATEGORY = '' THEN CNG.SUB_CATEGORY ELSE CNG.DETAIL_CATEGORY END) AS CATEGORY,
					CNS.OPTION_QUANTITY AS STOCK_QUANTITY,
					CNG.SELL_PRICE + CNS.OPTION_PRICE AS PRICE,
					CNG.SALES_STATUS AS STATUS,
					CNG.BRAND_NM AS BRAND,
					CNS.UPD_DATE,
					CNS.OPTION_NM_1 AS OPTION1,
					CNS.OPTION_NM_2 AS OPTION2,
					CNS.OPTION_NM_3 AS OPTION3,
					CNG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CNG.DELIVERY_CHARGE AS D_CHARGE,
					DATE_FORMAT(CNG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM CBCI_NAVER_STOCK CNS
				LEFT JOIN CBCI_NAVER_GOODS CNG
				ON CNS.SHOP_ID = CNG.SHOP_ID AND CNS.PRODUCT_NO = CNG.PRODUCT_NO
				WHERE
					CNS.SHOP_ID REGEXP (#{naver_id})
					AND CNS.MATCHING_CODE IS NULL				
			) NONMATCHING
		]]>
		<if test='FLAG == "MATCH"'>
		) FIRST_CAL
		WHERE FIRST_CAL.MATCHING_CODE = #{MATCHING_CODE}
		ORDER BY FIRST_CAL.REG_DATE
		</if>
		<if test='FLAG == "AUTO_MATCH"'>
		) FIRST_CAL
		WHERE FIRST_CAL.MANAGE_CODE = #{MANAGE_CODE}
		</if>
		<if test='FLAG == "DETAIL"'>
			<choose>
				<when test='CUBICI_CODE == "null"'>
					) FIRST_CAL
					WHERE FIRST_CAL.PRODUCT_NO= #{PRODUCT_NO}
				</when>
				<otherwise>
					) FIRST_CAL
					WHERE FIRST_CAL.CUBICI_CODE = #{CUBICI_CODE}
				</otherwise>
			</choose>
		</if>
		<if test='FLAG == "PRODUCT"'>  
		) FIRST_CAL
		WHERE
			FIRST_CAL.PRODUCT_NAME LIKE '%${searchName}%'
			AND FIRST_CAL.STATUS IN (${sale_status})
			AND FIRST_CAL.SHOP_TYPE IN (${SHOP_TYPE_LIST})
		<if test='sortPage == "REG_DATE"'>
		ORDER BY ${sortPage} DESC
		</if>
		<if test='sortPage == "PRODUCT_NAME"'>
		ORDER BY ${sortPage}
		</if>
		LIMIT ${dataCnt},${dataPerPage}
		</if>
	</select>
	
	<!-- Invento Excel Data -->
	<select id="selectInventoExcel" parameterType="hashmap" resultType="hashmap">
		SELECT
			FIRST_CAL.SHOP
		<if test='excelFlag == "MATCH" or excelFlag == "NON"'>
			, IF(FIRST_CAL.MATCHING_CODE IS NULL, "-", "M") AS MATCH_CHECK
			, FIRST_CAL.STATUS
			, FIRST_CAL.PRODUCT_NAME
			, FIRST_CAL.CATEGORY
			, FIRST_CAL.BRAND
			, FIRST_CAL.PRODUCT_NO
			, FIRST_CAL.MANAGE_CODE
			, FIRST_CAL.MATCHING_CODE 
			, FIRST_CAL.CUBICI_CODE
			, FIRST_CAL.OPTION1
			, FIRST_CAL.OPTION2
			, FIRST_CAL.OPTION3
			, IFNULL(FIRST_CAL.PRICE, 0) AS SALE_PRICE
			, FIRST_CAL.HEAD_INVEN
			, IFNULL(FIRST_CAL.STOCK_QUANTITY, 0) AS STOCK_QUANTITY
			, DATE_FORMAT(FIRST_CAL.REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
			, IFNULL(FIRST_CAL.D_CHARGE, 0) AS D_CHARGE
		</if>
		<if test='excelFlag == "MATCH_SUM"'>
			, IFNULL(COUNT(*), 0) AS MATCHED_SUM
		</if>
		<if test='excelFlag == "NON_SUM"'>
			, IFNULL(COUNT(*), 0) AS NONMATCHED_SUM
		</if>
		FROM (
			SELECT
				MATCH_TB.*
			FROM (
				SELECT
					1 AS SHOP_TYPE,
					'인터파크' AS SHOP,
					'INTERPARK_GOODS' AS DIVISION,
					CIG.SHOP_ID,
					CIG.CUBICI_CODE,
					CIG.PRODUCT_NO,
					CIG.MATCHING_CODE,
					CIG.SELLER_PRODUCT_CODE AS MANAGE_CODE,
					CIG.PRODUCT_IMG,
					CIG.PRODUCT_NM AS PRODUCT_NAME,
					SUBSTRING_INDEX(CIG.CATEGORY, '>', -1) AS CATEGORY,
					CIG.STOCK_QUANTITY,
					CIG.SELL_PRICE AS PRICE,
					CIG.SALES_STATUS AS STATUS,
					CIG.BRAND_NM AS BRAND,
					CIG.UPD_DATE,
					'' AS OPTION1,
					'' AS OPTION2,
					'' AS OPTION3,
					CIG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CIG.DELIVERY_CHARGE AS D_CHARGE,
					DATE_FORMAT(CIG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM
					CBCI_INTERPARK_GOODS CIG
				WHERE CIG.SHOP_ID REGEXP (#{INTERPARK_ID})
				AND CIG.CUBICI_CODE IS NOT NULL
				<if test ='excelFlag == "MATCH" or excelFlag == "MATCH_SUM"'>	
					AND CIG.MATCHING_CODE IS NOT NULL
				</if>
				<if test ='excelFlag == "NON" or excelFlag == "NON_SUM"'>	
					AND CIG.MATCHING_CODE IS NULL
				</if>
				UNION ALL
				SELECT
					1 AS SHOP_TYPE,
					'인터파크' AS SHOP,
					'INTERPARK_STOCK' AS DIVISION,
					CIS.SHOP_ID,
					CIS.CUBICI_CODE,
					CIG.PRODUCT_NO,
					CIS.MATCHING_CODE,
					CIS.MANAGE_CODE,
					CIG.PRODUCT_IMG,
					CONCAT(CIG.PRODUCT_NM, ' / ', CIS.OPTION1, ' ', CIS.OPTION2) AS PRODUCT_NAME,
					SUBSTRING_INDEX(CIG.CATEGORY, '>', -1) AS CATEGORY,
					CIS.OPTION_QUANTITY AS STOCK_QUANTITY,
					CIG.SELL_PRICE + CIS.ADD_PRICE AS PRICE,
					CIG.SALES_STATUS AS STATUS,
					CIG.BRAND_NM AS BRAND,
					CIG.UPD_DATE,
					CIS.OPTION1 AS OPTION1,
					CIS.OPTION2 AS OPTION2,
					'' AS OPTION3,
					CIS.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CIG.DELIVERY_CHARGE AS D_CHARGE,
					DATE_FORMAT(CIG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM CBCI_INTERPARK_STOCK CIS
				LEFT JOIN CBCI_INTERPARK_GOODS CIG
				ON CIS.SHOP_ID = CIG.SHOP_ID AND CIS.PRODUCT_NO = CIG.PRODUCT_NO
				WHERE CIS.SHOP_ID REGEXP (#{INTERPARK_ID})
				<if test ='excelFlag == "MATCH" or excelFlag == "MATCH_SUM"'>	
					AND CIS.MATCHING_CODE IS NOT NULL
				</if>
				<if test ='excelFlag == "NON" or excelFlag == "NON_SUM"'>	
					AND CIS.MATCHING_CODE IS NULL
				</if>
				UNION ALL
				SELECT
					2 AS SHOP_TYPE,
					'지마켓' AS SHOP,
					'GMARKET_GOODS' AS DIVISION,
					CGG.SHOP_ID,
					CGG.CUBICI_CODE,
					CGG.PRODUCT_NO,
					CGG.MATCHING_CODE,
					CGG.SELLER_PRODUCT_CODE AS MANAGE_CODE,
					CGG.PRODUCT_IMG,
					CGG.PRODUCT_NM AS PRODUCT_NAME,
					(CASE WHEN CGG.DETAIL_CATEGORY = '' THEN CGG.SUB_CATEGORY ELSE CGG.DETAIL_CATEGORY END) AS CATEGORY,
					CGG.STOCK_QUANTITY,
					CGG.SELL_PRICE AS PRICE,
					CGG.SALES_STATUS AS STATUS,
					CGG.BRAND_NM AS BRAND,
					CGG.UPD_DATE,
					'' AS OPTION1,
					'' AS OPTION2,
					'' AS OPTION3,
					CGG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CGG.DELIVERY_CHARGE AS D_CHARGE,
					DATE_FORMAT(CGG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM CBCI_GMARKET_GOODS CGG
				WHERE CGG.SHOP_ID REGEXP (#{GMARKET_ID})	
				AND CGG.CUBICI_CODE IS NOT NULL
				<if test ='excelFlag == "MATCH" or excelFlag == "MATCH_SUM"'>
					AND CGG.MATCHING_CODE IS NOT NULL
				</if>
				<if test ='excelFlag == "NON" or excelFlag == "NON_SUM"'>	
					AND CGG.MATCHING_CODE IS NULL
				</if>
				UNION ALL
				SELECT
					2 AS SHOP_TYPE,
					'지마켓' AS SHOP,
					'GMARKET_STOCK' AS DIVISION,
					CGS.SHOP_ID,
					CGS.CUBICI_CODE,
					CGG.PRODUCT_NO,
					CGS.MATCHING_CODE,
					CGS.MANAGE_CODE,
					CGG.PRODUCT_IMG,
					CONCAT(CGG.PRODUCT_NM, ' / ', CGS.OPTION1, ' ', CGS.OPTION2, ' ', CGS.OPTION3) AS PRODUCT_NAME,
					(CASE WHEN CGG.DETAIL_CATEGORY = '' THEN CGG.SUB_CATEGORY ELSE CGG.DETAIL_CATEGORY END) AS CATEGORY,
					CGS.OPTION_STOCK AS STOCK_QUANTITY,
					CGG.SELL_PRICE + CGS.ADD_PRICE AS PRICE,
					CGG.SALES_STATUS AS STATUS,
					CGG.BRAND_NM AS BRAND,
					CGG.UPD_DATE,
					CGS.OPTION1 AS OPTION1,
					CGS.OPTION2 AS OPTION2,
					CGS.OPTION3 AS OPTION3,
					CGS.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CGG.DELIVERY_CHARGE AS D_CHARGE,
					DATE_FORMAT(CGG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM CBCI_GMARKET_STOCK CGS
				LEFT JOIN CBCI_GMARKET_GOODS CGG
				ON CGS.SHOP_ID = CGG.SHOP_ID AND CGS.PRODUCT_NO = CGG.PRODUCT_NO
				WHERE CGS.SHOP_ID REGEXP (#{GMARKET_ID})
				<if test ='excelFlag == "MATCH" or excelFlag == "MATCH_SUM"'>	
					AND CGS.MATCHING_CODE IS NOT NULL
				</if>
				<if test ='excelFlag == "NON" or excelFlag == "NON_SUM"'>	
					AND CGS.MATCHING_CODE IS NULL
				</if>
				UNION ALL
				SELECT
					3 AS SHOP_TYPE,
					'옥션' AS SHOP,
					'AUCTION_GOODS' AS DIVISION,
					CAG.SHOP_ID,
					CAG.CUBICI_CODE,
					CAG.ITEM_NO AS PRODUCT_NO,
					CAG.MATCHING_CODE,
					CAG.MANAGEMENT_CODE AS MANAGE_CODE,
					NULL AS PRODUCT_IMG,
					CAG.ITEM_NAME AS PRODUCT_NAME,
					SUBSTRING_INDEX(CAG.CATEGORY_NAME, '>', -1) AS CATEGORY,
					CAG.SUM_STOCK_QTY AS STOCK_QUANTITY,
					CAG.SELLING_PRICE AS PRICE,
					CAG.SELLING_STATUS_CODE AS STATUS,
					CAG.BRAND_NAME AS BRAND,
					CAG.UPD_DATE,
					'' AS OPTION1,
					'' AS OPTION2,
					'' AS OPTION3,
					CAG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CAG.SHIPPING_COST AS D_CHARGE,
					DATE_FORMAT(CAG.ITEM_REGIST_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM CBCI_AUCTION_GOODS CAG
				WHERE CAG.SHOP_ID REGEXP (#{AUCTION_ID})
				<if test ='excelFlag == "MATCH" or excelFlag == "MATCH_SUM"'>	
					AND CAG.MATCHING_CODE IS NOT NULL
				</if>
				<if test ='excelFlag == "NON" or excelFlag == "NON_SUM"'>	
					AND CAG.MATCHING_CODE IS NULL
				</if>
				UNION ALL
				SELECT
					4 AS SHOP_TYPE,
					'11번가' AS SHOP,
					'11ST_GOODS' AS DIVISION,
					CSG.SHOP_ID,
					CSG.CUBICI_CODE,
					CSG.PRODUCT_NO,
					CSG.MATCHING_CODE,
					CSG.SELLER_PRD_CD AS MANAGE_CODE,
					NULL AS PRODUCT_IMG,
					CSG.PRD_NM AS PRODUCT_NAME,
					SUBSTRING_INDEX(CSG.CATEGORY_NAME, '>', -1) AS CATEGORY,
					CSG.QUANTITY AS STOCK_QUANTITY,
					CSG.SEL_PRC AS PRICE,
					CSG.SEL_STAT_NM AS STATUS,
					CSG.BRAND_NAME AS BRAND,
					CSG.UPD_DATE,
					'' AS OPTION1,
					'' AS OPTION2,
					'' AS OPTION3,
					CSG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					'0' AS D_CHARGE,
					DATE_FORMAT(CSG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM CBCI_11ST_GOODS CSG
				WHERE CSG.SHOP_ID REGEXP (#{ELEVEN_ID})
				<if test ='excelFlag == "MATCH" or excelFlag == "MATCH_SUM"'>
					AND CSG.MATCHING_CODE IS NOT NULL
				</if>
				<if test ='excelFlag == "NON" or excelFlag == "NON_SUM"'>	
					AND CSG.MATCHING_CODE IS NULL
				</if>	
				UNION ALL
				SELECT
					11 AS SHOP_TYPE,
					'쿠팡' AS SHOP,
					'COUPANG_STOCK' AS DIVISION,
					CCS.SHOP_ID,
					CCS.CUBICI_CODE,
					CCS.SELLER_PRODUCT_ID AS PRODUCT_NO,
					CCS.MATCHING_CODE,
					CCS.EXTERNAL_VENDOR_SKU AS MANAGE_CODE,
					CCS.CDN_PATH_1 AS PRODUCT_IMG,
					CONCAT(CCG.SELLER_PRODUCT_NM, ' / ', CCS.ITEM_NAME) AS PRODUCT_NAME,
					(SELECT CATEGORY_NAME FROM CBCI_COUPANG_CATEGORY CCC WHERE CATEGORY_CODE = CCG.CATEGORY_CODE) AS CATEGORY,
					CCS.OPT_AMOUNT_IN_STOCK AS STOCK_QUANTITY,
					CCS.SALE_PRICE AS PRICE,
					CCG.STATUS_NAME AS STATUS,
					CCG.BRAND,
					CCS.UPD_DATE,
					CCS.ITEM_NAME AS OPTION1,
					'' AS OPTION2,
					'' AS OPTION3,
					CCS.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CCG.DELIVERY_CHARGE AS D_CHARGE,
					DATE_FORMAT(CCG.CREATED_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM CBCI_COUPANG_STOCK CCS
				LEFT JOIN CBCI_COUPANG_GOODS CCG
				ON CCS.SHOP_ID = CCG.SHOP_ID AND CCS.SELLER_PRODUCT_ID = CCG.SELLER_PRODUCT_ID
				WHERE CCS.SHOP_ID = #{COUPANG_ID}
				AND CCS.CUBICI_CODE IS NOT NULL
				<if test ='excelFlag == "MATCH" or excelFlag == "MATCH_SUM"'>
					AND CCS.MATCHING_CODE IS NOT NULL
				</if>
				<if test ='excelFlag == "NON" or excelFlag == "NON_SUM"'>	
					AND CCS.MATCHING_CODE IS NULL
				</if>
				UNION ALL
				SELECT
					14 AS SHOP_TYPE,
					'네이버' AS SHOP,
					'NAVER_GOODS' AS DIVISION,
					CNG.SHOP_ID,
					CNG.CUBICI_CODE,
					CNG.PRODUCT_NO,
					CNG.MATCHING_CODE,
					CNG.SELLER_PRODUCT_CODE AS MANAGE_CODE,
					CNG.PRODUCT_IMG,
					CNG.PRODUCT_NM AS PRODUCT_NAME,
					(CASE WHEN CNG.DETAIL_CATEGORY = '' THEN CNG.SUB_CATEGORY ELSE CNG.DETAIL_CATEGORY END) AS CATEGORY,
					CNG.STOCK_QUANTITY,
					CNG.SELL_PRICE AS PRICE,
					CNG.SALES_STATUS AS STATUS,
					CNG.BRAND_NM AS BRAND,
					CNG.UPD_DATE,
					'' AS OPTION1,
					'' AS OPTION2,
					'' AS OPTION3,
					CNG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CNG.DELIVERY_CHARGE AS D_CHARGE,
					DATE_FORMAT(CNG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM CBCI_NAVER_GOODS CNG
				WHERE CNG.SHOP_ID REGEXP (#{NAVER_ID})
				AND CNG.CUBICI_CODE IS NOT NULL
				<if test ='excelFlag == "MATCH" or excelFlag == "MATCH_SUM"'>
					AND CNG.MATCHING_CODE IS NOT NULL
				</if>
				<if test ='excelFlag == "NON" or excelFlag == "NON_SUM"'>	
					AND CNG.MATCHING_CODE IS NULL
				</if>
				UNION ALL				
				SELECT
					14 AS SHOP_TYPE,
					'네이버' AS SHOP,			
					'NAVER_STOCK' AS DIVISION,
					CNS.SHOP_ID,
					CNS.CUBICI_CODE,
					CNG.PRODUCT_NO,
					CNS.MATCHING_CODE,
					CNS.MANAGE_CODE,
					CNG.PRODUCT_IMG,
					CONCAT(CNG.PRODUCT_NM, ' / ', CNS.OPTION_NM_1, CNS.OPTION_NM_2, CNS.OPTION_NM_3) AS PRODUCT_NAME,
					(CASE WHEN CNG.DETAIL_CATEGORY = '' THEN CNG.SUB_CATEGORY ELSE CNG.DETAIL_CATEGORY END) AS CATEGORY,
					CNS.OPTION_QUANTITY AS STOCK_QUANTITY,
					CNG.SELL_PRICE + CNS.OPTION_PRICE AS PRICE,
					CNG.SALES_STATUS AS STATUS,
					CNG.BRAND_NM AS BRAND,
					CNS.UPD_DATE,
					CNS.OPTION_NM_1 AS OPTION1,
					CNS.OPTION_NM_2 AS OPTION2,
					CNS.OPTION_NM_3 AS OPTION3,
					CNG.HEADQUARTER_INVENTORY AS HEAD_INVEN,
					CNG.DELIVERY_CHARGE AS D_CHARGE,
					DATE_FORMAT(CNG.PRODUCT_REG_DATE, '%Y-%m-%d %H:%i:%s') AS REG_DATE
				FROM CBCI_NAVER_STOCK CNS
				LEFT JOIN CBCI_NAVER_GOODS CNG
				ON CNS.SHOP_ID = CNG.SHOP_ID AND CNS.PRODUCT_NO = CNG.PRODUCT_NO
				WHERE CNS.SHOP_ID REGEXP (#{NAVER_ID})
				<if test ='excelFlag == "MATCH" or excelFlag == "MATCH_SUM"'>	
					AND CNS.MATCHING_CODE IS NOT NULL
				</if>
				<if test ='excelFlag == "NON" or excelFlag == "NON_SUM"'>	
					AND CNS.MATCHING_CODE IS NULL
				</if>
			) MATCH_TB
		) FIRST_CAL
		WHERE FIRST_CAL.STATUS IN (${sale_status})
		AND FIRST_CAL.SHOP_TYPE IN (${SHOP_TYPE_LIST})
		AND FIRST_CAL.PRODUCT_NAME LIKE '%${searchName}%'
		<if test='excelFlag == "MATCH_SUM" or excelFlag == "NON_SUM"'>
			GROUP BY FIRST_CAL.SHOP
		</if>
		<if test ='excelFlag == "MATCH"'>
			ORDER BY FIRST_CAL.MATCHING_CODE ASC, FIRST_CAL.REG_DATE ASC
		</if>
		<if test ='excelFlag == "NON"'>
			ORDER BY FIRST_CAL.REG_DATE
		</if>
		
	</select>
		
</mapper>
