@charset "utf-8";

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: local("NotoSansKR-Thin");
  src: url(NotoSansKR-Thin.woff2) format('woff2'),
       url(NotoSansKR-Thin.woff) format('woff');}



@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local("NotoSansKR-Light");
  src: url(NotoSansKR-Light.woff2) format('woff2'),
       url(NotoSansKR-Light.woff) format('woff');}



@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local("NotoSansKR-Regular");
  src: url(NotoSansKR-Regular.woff2) format('woff2'),
       url(NotoSansKR-Regular.woff) format('woff');}



@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local("NotoSansKR-Medium");
  src: url(NotoSansKR-Medium.woff2) format('woff2'),
       url(NotoSansKR-Medium.woff) format('woff');}



@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local("NotoSansKR-Bold");
  src: url(NotoSansKR-Bold.woff2) format('woff2'),
       url(NotoSansKR-Bold.woff) format('woff');}



@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: local("NotoSansKR-Black");
  src: url(NotoSansKR-Black.woff2) format('woff2'),
       url(NotoSansKR-Black.woff) format('woff');}
